# Capstone  Project


# Buy Homes/Properties - REAL ESTATE
# PHASE - 1

Collect data for all buy/purchased BURGET HOMES/CONDOS/properties using web scraping techniques on the URL below.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,WebDriverException
import warnings
warnings.filterwarnings('ignore')
import requests
from selenium.webdriver.common.by import By

In [13]:
driver = webdriver.Chrome()

In [14]:
driver.get("https://vestapreferred.com")

In [5]:
page= requests.get("https://vestapreferred.com")
page

In [21]:
buy_search = driver.find_element(By.XPATH,"/html/body/main/header/div/div[2]")
buy_search.click()

In [22]:
buy = driver.find_element(By.XPATH,"/html/body/main/div[1]/div[2]/ul/li[1]")
buy.click()

In [23]:
search2 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[2]/div/div[1]/div/div/div/div/div/div/div/div[1]/div[1]/input")
search2.send_keys('Chicago city')

In [24]:
ptype = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[2]/div/div[1]/div/div/div/div/div/div/div/div[2]/div[1]")
ptype.click()

In [25]:
condo = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[2]/div/div[1]/div/div/div/div/div[1]/div/div/div[2]/div[1]/div[2]/div[1]/div[10]/label/span')
condo.click()

In [26]:
search_Button = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[2]/div/div[1]/div/div/div/div/div[1]/div/div/a')
search_Button.click()

In [27]:
URL =  []
url = driver.find_elements(By.XPATH,'//div[@class="property "]/a[1]')
for i in url:
    URL.append(i.get_attribute('href'))

In [28]:
BHK_type = []
Property_type = []
Beds = []
Bathroom = []
Balcony = []
Address = []
City = []
State_code = []
Country = []
Landmark = []
Carpet_Area = []
Status = []
Floor = []
Transaction_Type = []
Year_built = []
Price_per_sqaure_feet = []
Furnished_status = []
Facing = []
Car_Parking = []
Type_of_ownership = []
Booking_amount = []
Buy_total_price = []

In [29]:
for i in URL:
    driver.get(i)
    time.sleep(5)
    try:
        bhk_type = driver.find_element(By.XPATH,'//span[@class="parameter"][1]')
        BHK_type.append(bhk_type.text)
    except NoSuchElementException:
        BHK_type.append('-')

    try:
        p_type = driver.find_element(By.XPATH,'//li[@class="flexbox flex-align-center"][2]/div[2]/a')
        Property_type.append(p_type.text)
    except NoSuchElementException:
        Property_type.append('-')

    try:
        bed = driver.find_element(By.XPATH,'//div[@class="parameters"]/span[1]')
        Beds.append(bed.text)
    except NoSuchElementException:
        Beds.append('-')

    try:
        bath = driver.find_element(By.XPATH,'//li[@class="flexbox flex-align-center"][3]/div[2]')
        Bathroom.append(bath.text)
    except NoSuchElementException:
        Bathroom.append('-')

    try:
        add = driver.find_element(By.XPATH,'//div[@class="no-wrap small-long-address"]')
        Address.append(add.text)
    except NoSuchElementException:
        Address.append('-')

    try:
        city = driver.find_element(By.XPATH,'//span[@class="city"]')
        City.append(city.text.replace('','Chicago'))
    except NoSuchElementException:
        City.append('-')

    try:
        c_area = driver.find_element(By.XPATH,'//div[@class="parameters"]/span[3]')
        Carpet_Area.append(c_area.text)
    except NoSuchElementException:
        Carpet_Area.append('-')

    try:
        status = driver.find_element(By.XPATH,'//div[@class="status-label "]/div')
        Status.append(status.text)
    except NoSuchElementException:
        Status.append('-')

    try:
        year = driver.find_element(By.XPATH,'//li[@class="flexbox flex-align-center"][11]/div[2]')
        Year_built.append(year.text)
    except NoSuchElementException:
        Year_built.append('-')

    try:
        price_per_SF = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[2]/div/div[2]/div[1]/div[2]/div[2]/div/div/div[1]/div[1]/div[5]/div[2]')
        Price_per_sqaure_feet.append(price_per_SF.text)
    except NoSuchElementException:
        Price_per_sqaure_feet.append('-')

    try:
        total_price = driver.find_element(By.XPATH,'//div[@class="no-wrap"]')
        price_text = total_price.text
        price_inr = float(price_text.replace('$','').replace(',', ''))
        Buy_total_price.append(price_inr * 83.12)
    except NoSuchElementException:
        Buy_total_price.append('-')

In [30]:
Balcony = ([''])*10
State_code = ([''])*10
Landmark = ([''])*10
Floor = ([''])*10
Transaction_Type = ([''])*10
Furnished_status = ([''])*10
Facing = ([''])*10
Car_Parking = ([''])*10
Type_of_ownership = ([''])*10
Booking_amount = ([''])*10
Country = (['USA'])*10

In [31]:
len(BHK_type),len(Property_type),len(Beds),len(Bathroom),len(Balcony),len(Address),len(City),len(State_code),len(Country),len(Landmark),len(Carpet_Area),len(Status),len(Floor),len(Transaction_Type),len(Year_built),len(Price_per_sqaure_feet),len(Furnished_status),len(Facing),len(Car_Parking),len(Type_of_ownership),len(Booking_amount),len(Buy_total_price)

(10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10)

In [32]:
df = pd.DataFrame ({'BHK Type':BHK_type, 'Propery Type':Property_type, 'Number Of Beds':Beds,'Number Of Bathroom':Bathroom,
                    'Number Of Balcony':Balcony,'Address':Address,'City':City,'State Code':State_code,'Country':Country,
                    'Landmark':Landmark,'Carpet Area':Carpet_Area,'Status':Status,'Floor':Floor,'Transaction Type':Transaction_Type,
                    'Year Of Built':Year_built,'Price Per Sqaure Feet':Price_per_sqaure_feet,'Furnished Status':Furnished_status,
                    'Facing':Facing,'Car Parking':Car_Parking,'Type Of Ownership':Type_of_ownership,'Booking Amount':Booking_amount,
                    'Buy Total Price':Buy_total_price})
df

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,9 days,,,,,,,207791688.0
1,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,98 days,,,,,,,201566000.0
2,2 BD,Condo,2 BD,2,,"630 North Franklin Street #803, Chicago, IL 60654",Chicago,,USA,,...,,,12 days,,,,,,,39482000.0
3,3 BD,Condo,3 BD,2.5,,"340 East Randolph Street #1705, Chicago, IL 60601",Chicago,,USA,,...,,,2007,,,,,,,165824400.0
4,3 BD,Condo,3 BD,3,,"1211 South Prairie Avenue #706, Chicago, IL 60605",Chicago,,USA,,...,,,28 days,,,,,,,103900000.0
5,3 BD,Condo,3 BD,3.5,,"1201 South Prairie Avenue #1101, Chicago, IL 6...",Chicago,,USA,,...,,,2003,,,,,,,115952400.0
6,4 BD,Condo,4 BD,2,,"339 West Barry Avenue #3BC, Chicago, IL 60657",Chicago,,USA,,...,,,112 days,,,,,,,56937200.0
7,1 BD,Condo,1 BD,1.5,,"653 North Kingsbury Street #2402, Chicago, IL ...",Chicago,,USA,,...,,,2003,,,,,,,27845200.0
8,3 BD,Condo,3 BD,3.5,,"21 East Huron Street #4204, Chicago, IL 60611",Chicago,,USA,,...,,,2005,,,,,,,124680000.0
9,1 BD,Condo,1 BD,1,,"1528 South Wabash Avenue #303, Chicago, IL 60605",Chicago,,USA,,...,,,-,,,,,,,18693688.0

In [33]:
driver.quit()

In [34]:
driver = webdriver.Chrome()

In [35]:
driver.get('https://www.homes.com/')

In [36]:
search_city = driver.find_element(By.XPATH,'/html/body/main/section/div/div[2]/div/div/div/div')
search_city.send_keys(' Chicago, IL')

In [37]:
search = driver.find_element(By.XPATH,'//button[@class="search-btn large"]')
search.click()

In [38]:
filter_button = driver.find_element(By.XPATH,'/html/body/main/section/div[1]/div[1]/div/div[2]/span[4]')
filter_button.click()

In [39]:
ptype1 = driver.find_element(By.XPATH,'/html/body/div[15]/div/div/div[3]/div[7]/div/div/div[1]/div[3]')
ptype1.click()

In [40]:
search_button = driver.find_element(By.XPATH,'/html/body/div[15]/div/div/div[4]/button[2]')
search_button.click()

In [41]:
URL =  []
start = 0
end = 3
for page in range(start,end):
    url = driver.find_elements(By.XPATH,'//div[@class="embla__slide__inner"]/a')
    for i in url:
        URL.append(i.get_attribute('href'))
next_button = driver.find_element(By.XPATH,'//button[@class="next text-only "]')
next_button.click()
time.sleep(5)

In [43]:
for i in URL:
    driver.get(i)
    time.sleep(2)
    try:
        bhk_type = driver.find_element(By.XPATH,'//span[@class="property-info-feature beds"]/span[1]')
        BHK_type.append(bhk_type.text)
    except NoSuchElementException:
        BHK_type.append('-')

    try:
        p_type = driver.find_element(By.XPATH,'/html/body/main/section/div[3]/div/section[5]/div[1]/div/div[1]/div/ul/li')
        Property_type.append(p_type.text)
    except NoSuchElementException:
        Property_type.append('-')
        
    try:
        bed = driver.find_element(By.XPATH,'//span[@class="property-info-feature beds"]')
        Beds.append(bed.text.replace('\n',''))
    except NoSuchElementException:
        Beds.append('-')

    try:
        bath = driver.find_element(By.XPATH,'//span[@class="property-info-feature"]')
        Bathroom.append(bath.text.replace('\n',''))
    except NoSuchElementException:
        Bathroom.append('-')

    try:
        add = driver.find_element(By.XPATH,'//div[@class="property-info-address"]')
        Address.append(add.text)
    except NoSuchElementException:
        Address.append('-')

    try:
        c_area = driver.find_element(By.XPATH,'//span[@class="property-info-feature sqft"]')
        Carpet_Area.append(c_area.text.replace('\n',''))
    except NoSuchElementException:
        Carpet_Area.append('-')

    try:
        year = driver.find_element(By.XPATH,'/html/body/main/section/div[3]/div/section[5]/div[1]/div/div[3]/div/ul')
        Year_built.append(year.text)
    except NoSuchElementException:
        Year_built.append('-')

    try:
        parking = driver.find_element(By.XPATH,'/html/body/main/section/div[3]/div/section[5]/div[1]/div/div[5]/div/ul/li')
        Car_Parking.append(parking.text)
    except NoSuchElementException:
        Car_Parking.append('-')

    try:
        price_per_SF = driver.find_element(By.XPATH,'//span[@class="property-info-feature pricepersqt"]')
        Price_per_sqaure_feet.append(price_per_SF.text.replace('\n','').replace(',', ''))
    except NoSuchElementException:
        Price_per_sqaure_feet.append('-')

    try:
        total_price = driver.find_element(By.XPATH,'//div[@class="property-info-price-and-icons"]/span')
        price_text = total_price.text
        price_inr = float(price_text.replace('$','').replace(',', ''))
        Buy_total_price.append(price_inr * 83.12)
    except NoSuchElementException:
        Buy_total_price.append('-')

In [44]:
len(BHK_type),len(Property_type),len(Beds),len(Bathroom),len(Address),len(Carpet_Area),len(Year_built),len(Car_Parking),len(Price_per_sqaure_feet),len(Buy_total_price),

(478, 478, 478, 478, 478, 478, 478, 478, 478, 478)

In [45]:
Balcony = ([''])*478
State_code = ([''])*478
Landmark = ([''])*478
Floor = ([''])*478
Transaction_Type = ([''])*478
Furnished_status = ([''])*478
Facing = ([''])*478
Country = (['USA'])*478
Type_of_ownership = ([''])*478
Booking_amount = ([''])*478
City = (['Chicago'])*478
Status = (['ACTIVE'])*478

In [46]:
len(BHK_type),len(Property_type),len(Beds),len(Bathroom),len(Balcony),len(Address),len(City),len(State_code),len(Country),len(Landmark),len(Carpet_Area),len(Status),len(Floor),len(Transaction_Type),len(Year_built),len(Price_per_sqaure_feet),len(Furnished_status),len(Facing),len(Car_Parking),len(Type_of_ownership),len(Booking_amount),len(Buy_total_price)

(478,
 478,
 478,
 478,
 478,
 478,
 478,
 478,
 478,
 478,
 478,
 478,
 478,
 478,
 478,
 478,
 478,
 478,
 478,
 478,
 478,
 478)

In [47]:
df = pd.DataFrame ({'BHK Type':BHK_type, 'Propery Type':Property_type, 'Number Of Beds':Beds,'Number Of Bathroom':Bathroom,
                    'Number Of Balcony':Balcony,'Address':Address,'City':City,'State Code':State_code,'Country':Country,
                    'Landmark':Landmark,'Carpet Area':Carpet_Area,'Status':Status,'Floor':Floor,'Transaction Type':Transaction_Type,
                    'Year Of Built':Year_built,'Price Per Sqaure Feet':Price_per_sqaure_feet,'Furnished Status':Furnished_status,
                    'Facing':Facing,'Car Parking':Car_Parking,'Type Of Ownership':Type_of_ownership,'Booking Amount':Booking_amount,
                    'Buy Total Price':Buy_total_price})
df

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,9 days,,,,,,,207791688.0
1,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,98 days,,,,,,,201566000.0
2,2 BD,Condo,2 BD,2,,"630 North Franklin Street #803, Chicago, IL 60654",Chicago,,USA,,...,,,12 days,,,,,,,39482000.0
3,3 BD,Condo,3 BD,2.5,,"340 East Randolph Street #1705, Chicago, IL 60601",Chicago,,USA,,...,,,2007,,,,,,,165824400.0
4,3 BD,Condo,3 BD,3,,"1211 South Prairie Avenue #706, Chicago, IL 60605",Chicago,,USA,,...,,,28 days,,,,,,,103900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,6,Condominium,6Beds,3Baths,,"2615 W Montgomery Ave\nChicago, IL 60632\nBrig...",Chicago,,USA,,...,,,1963,$189Price per Sq Ft,,,Brick Exterior Construction,,,36572800.0
474,3,Condominium,3Beds,2Baths,,"2629 W Chicago Ave Unit 3\nChicago, IL 60622\n...",Chicago,,USA,,...,,,2007,$304Price per Sq Ft,,,"1,560 Sq Ft Home",,,39440440.0
475,3,Condominium,3Beds,2Baths,,"2629 W Chicago Ave Unit 3\nChicago, IL 60622\n...",Chicago,,USA,,...,,,2007,$304Price per Sq Ft,,,"1,560 Sq Ft Home",,,39440440.0
476,3,Condominium,3Beds,2Baths,,"2629 W Chicago Ave Unit 3\nChicago, IL 60622\n...",Chicago,,USA,,...,,,2007,$304Price per Sq Ft,,,"1,560 Sq Ft Home",,,39440440.0
477,3,Condominium,3Beds,2Baths,,"2629 W Chicago Ave Unit 3\nChicago, IL 60622\n...",Chicago,,USA,,...,,,2007,$304Price per Sq Ft,,,"1,560 Sq Ft Home",,,39440440.0

In [48]:
driver.quit()

In [49]:
driver = webdriver.Chrome()

In [50]:
driver.get('https://www.homes.com/')

In [51]:
search_city = driver.find_element(By.XPATH,'/html/body/main/section/div/div[2]/div/div/div/div')
search_city.send_keys(' Los Angeles, CA')

In [52]:
search = driver.find_element(By.XPATH,'//button[@class="search-btn large"]')
search.click()

In [53]:
filter_button = driver.find_element(By.XPATH,'/html/body/main/section/div[1]/div[1]/div/div[2]/span[4]')
filter_button.click()

In [54]:
ptype1 = driver.find_element(By.XPATH,'/html/body/div[15]/div/div/div[3]/div[7]/div/div/div[1]/div[3]')
ptype1.click()

In [55]:
search_button = driver.find_element(By.XPATH,'/html/body/div[15]/div/div/div[4]/button[2]')
search_button.click()

In [56]:
BHK_type1 = []
Property_type1 = []
Beds1 = []
Bathroom1 = []
Balcony1 = []
Address1 = []
City1 = []
State_code1 = []
Country1 = []
Landmark1 = []
Carpet_Area1 = []
Status1 = []
Floor1 = []
Transaction_Type1 = []
Year_built1 = []
Price_per_sqaure_feet1 = []
Furnished_status1 = []
Facing1 = []
Car_Parking1 = []
Type_of_ownership1 = []
Booking_amount1 = []
Buy_total_price1 = []

In [57]:
URL =  []
start = 0
end = 3
for page in range(start,end):
    url = driver.find_elements(By.XPATH,'//div[@class="embla__slide__inner"]/a')
    for i in url:
        URL.append(i.get_attribute('href'))
next_button = driver.find_element(By.XPATH,'//button[@class="next text-only "]')
next_button.click()
time.sleep(3)

In [60]:
for i in URL:
    driver.get(i)
    time.sleep(2)
    try:
        bhk_type = driver.find_element(By.XPATH,'//span[@class="property-info-feature beds"]/span[1]')
        BHK_type1.append(bhk_type.text)
    except NoSuchElementException:
        BHK_type1.append('-')

    try:
        p_type = driver.find_element(By.XPATH,'//section[@class="ldp-section-container amenities-container"]/div[1]/div/div[1]/div/ul/li')
        Property_type1.append(p_type.text)
    except NoSuchElementException:
        Property_type1.append('-')
        
    try:
        bed = driver.find_element(By.XPATH,'//span[@class="property-info-feature beds"]')
        Beds1.append(bed.text.replace('\n',''))
    except NoSuchElementException:
        Beds1.append('-')

    try:
        bath = driver.find_element(By.XPATH,'//span[@class="property-info-feature"]')
        Bathroom1.append(bath.text.replace('\n',''))
    except NoSuchElementException:
        Bathroom1.append('-')

    try:
        add = driver.find_element(By.XPATH,'//div[@class="property-info-address"]')
        Address1.append(add.text)
    except NoSuchElementException:
        Address1.append('-')

    try:
        c_area = driver.find_element(By.XPATH,'//span[@class="property-info-feature sqft"]')
        Carpet_Area1.append(c_area.text.replace('\n',''))
    except NoSuchElementException:
        Carpet_Area1.append('-')

    try:
        year = driver.find_element(By.XPATH,'//section[@class="ldp-section-container amenities-container"]/div[1]/div/div[3]/div/ul/li')
        Year_built1.append(year.text)
    except NoSuchElementException:
        Year_built1.append('-')

    try:
        parking = driver.find_element(By.XPATH,'//section[@class="ldp-section-container amenities-container"]/div[1]/div/div[11]/div/ul')
        Car_Parking1.append(parking.text)
    except NoSuchElementException:
        Car_Parking1.append('-')

    try:
        price_per_SF = driver.find_element(By.XPATH,'//span[@class="property-info-feature pricepersqt"]')
        Price_per_sqaure_feet1.append(price_per_SF.text.replace('\n',''))
    except NoSuchElementException:
        Price_per_sqaure_feet1.append('-')

    try:
        total_price = driver.find_element(By.XPATH,'//div[@class="property-info-price-and-icons"]/span')
        price_text = total_price.text
        price_inr = float(price_text.replace('$','').replace(',', ''))
        Buy_total_price1.append(price_inr * 83.12)
    except NoSuchElementException:
        Buy_total_price1.append('-')

In [61]:
len(BHK_type1),len(Property_type1),len(Beds1),len(Bathroom1),len(Address1),len(Carpet_Area1),len(Year_built1),len(Car_Parking1),len(Price_per_sqaure_feet1),len(Buy_total_price1),

(691, 691, 691, 691, 691, 691, 691, 691, 691, 691)

In [62]:
Balcony1 = ([''])*691
State_code1 = ([''])*691
Landmark1 = ([''])*691
Floor1 = ([''])*691
Transaction_Type1 = ([''])*691
Furnished_status1 = ([''])*691
Facing1 = ([''])*691
Country1 = (['USA'])*691
Type_of_ownership1 = ([''])*691
Booking_amount1 = ([''])*691
City1 = (['Los Angeles'])*691
Status1 = (['ACTIVE'])*691

In [63]:
len(BHK_type1),len(Property_type1),len(Beds1),len(Bathroom1),len(Balcony1),len(Address1),len(City1),len(State_code1),len(Country1),len(Landmark1),len(Carpet_Area1),len(Status1),len(Floor1),len(Transaction_Type1),len(Year_built1),len(Price_per_sqaure_feet1),len(Furnished_status1),len(Facing1),len(Car_Parking1),len(Type_of_ownership1),len(Booking_amount1),len(Buy_total_price1)

(691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691)

In [64]:
df1 = pd.DataFrame ({'BHK Type':BHK_type1, 'Propery Type':Property_type1, 'Number Of Beds':Beds1,'Number Of Bathroom':Bathroom1,
                    'Number Of Balcony':Balcony1,'Address':Address1,'City':City1,'State Code':State_code1,'Country':Country1,
                    'Landmark':Landmark1,'Carpet Area':Carpet_Area1,'Status':Status1,'Floor':Floor1,'Transaction Type':Transaction_Type1,
                    'Year Of Built':Year_built1,'Price Per Sqaure Feet':Price_per_sqaure_feet1,'Furnished Status':Furnished_status1,
                    'Facing':Facing1,'Car Parking':Car_Parking1,'Type Of Ownership':Type_of_ownership1,'Booking Amount':Booking_amount1,
                    'Buy Total Price':Buy_total_price1})
df1

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,1,Condominium,1Bed,1Bath,,"630 W 6th St Unit 215\nLos Angeles, CA 90017\n...",Los Angeles,,USA,,...,,,1962,$613Price per Sq Ft,,,Central Heating,,,36157200.0
1,1,Condominium,1Bed,1Bath,,"630 W 6th St Unit 215\nLos Angeles, CA 90017\n...",Los Angeles,,USA,,...,,,1962,$613Price per Sq Ft,,,Central Heating,,,36157200.0
2,1,Condominium,1Bed,1Bath,,"630 W 6th St Unit 215\nLos Angeles, CA 90017\n...",Los Angeles,,USA,,...,,,1962,$613Price per Sq Ft,,,Central Heating,,,36157200.0
3,1,Condominium,1Bed,1Bath,,"630 W 6th St Unit 215\nLos Angeles, CA 90017\n...",Los Angeles,,USA,,...,,,1962,$613Price per Sq Ft,,,Central Heating,,,36157200.0
4,1,Condominium,1Bed,1Bath,,Edgewater Towers\n17366 W Sunset Blvd Unit 102...,Los Angeles,,USA,,...,,,1963 | Remodeled,"$1,063Price per Sq Ft",,,In Ground Pool\nSpa,,,72730000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686,2,Condominium,2Beds,2Baths,,"1516 Hi Point St Unit 101\nLos Angeles, CA 900...",Los Angeles,,USA,,...,,,1990 | Remodeled,$742Price per Sq Ft,,,2 Car Garage\nTandem Parking\nAutomatic Gate\n...,,,69405200.0
687,3,Condominium,3Beds,2Baths,,"848 Irolo St Unit 408\nLos Angeles, CA 90005\n...",Los Angeles,,USA,,...,,,2008 | Remodeled,$544Price per Sq Ft,,,2 Car Garage\nDriveway\nAutomatic Gate\nAssign...,,,66412880.0
688,3,Condominium,3Beds,2Baths,,"848 Irolo St Unit 408\nLos Angeles, CA 90005\n...",Los Angeles,,USA,,...,,,2008 | Remodeled,$544Price per Sq Ft,,,2 Car Garage\nDriveway\nAutomatic Gate\nAssign...,,,66412880.0
689,3,Condominium,3Beds,2Baths,,"848 Irolo St Unit 408\nLos Angeles, CA 90005\n...",Los Angeles,,USA,,...,,,2008 | Remodeled,$544Price per Sq Ft,,,2 Car Garage\nDriveway\nAutomatic Gate\nAssign...,,,66412880.0
690,3,Condominium,3Beds,2Baths,,"848 Irolo St Unit 408\nLos Angeles, CA 90005\n...",Los Angeles,,USA,,...,,,2008 | Remodeled,$544Price per Sq Ft,,,2 Car Garage\nDriveway\nAutomatic Gate\nAssign...,,,66412880.0

In [65]:
driver.quit()

In [66]:
result = pd.concat([df,df1])
result

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,9 days,,,,,,,207791688.0
1,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,98 days,,,,,,,201566000.0
2,2 BD,Condo,2 BD,2,,"630 North Franklin Street #803, Chicago, IL 60654",Chicago,,USA,,...,,,12 days,,,,,,,39482000.0
3,3 BD,Condo,3 BD,2.5,,"340 East Randolph Street #1705, Chicago, IL 60601",Chicago,,USA,,...,,,2007,,,,,,,165824400.0
4,3 BD,Condo,3 BD,3,,"1211 South Prairie Avenue #706, Chicago, IL 60605",Chicago,,USA,,...,,,28 days,,,,,,,103900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686,2,Condominium,2Beds,2Baths,,"1516 Hi Point St Unit 101\nLos Angeles, CA 900...",Los Angeles,,USA,,...,,,1990 | Remodeled,$742Price per Sq Ft,,,2 Car Garage\nTandem Parking\nAutomatic Gate\n...,,,69405200.0
687,3,Condominium,3Beds,2Baths,,"848 Irolo St Unit 408\nLos Angeles, CA 90005\n...",Los Angeles,,USA,,...,,,2008 | Remodeled,$544Price per Sq Ft,,,2 Car Garage\nDriveway\nAutomatic Gate\nAssign...,,,66412880.0
688,3,Condominium,3Beds,2Baths,,"848 Irolo St Unit 408\nLos Angeles, CA 90005\n...",Los Angeles,,USA,,...,,,2008 | Remodeled,$544Price per Sq Ft,,,2 Car Garage\nDriveway\nAutomatic Gate\nAssign...,,,66412880.0
689,3,Condominium,3Beds,2Baths,,"848 Irolo St Unit 408\nLos Angeles, CA 90005\n...",Los Angeles,,USA,,...,,,2008 | Remodeled,$544Price per Sq Ft,,,2 Car Garage\nDriveway\nAutomatic Gate\nAssign...,,,66412880.0
690,3,Condominium,3Beds,2Baths,,"848 Irolo St Unit 408\nLos Angeles, CA 90005\n...",Los Angeles,,USA,,...,,,2008 | Remodeled,$544Price per Sq Ft,,,2 Car Garage\nDriveway\nAutomatic Gate\nAssign...,,,66412880.0

In [67]:
driver = webdriver.Chrome()

In [68]:
driver.get('https://www.homes.com/')

In [69]:
search_city = driver.find_element(By.XPATH,'/html/body/main/section/div/div[2]/div/div/div/div')
search_city.send_keys(' New York,NY')

In [70]:
search = driver.find_element(By.XPATH,'//button[@class="search-btn large"]')
search.click()

In [71]:
filter_button = driver.find_element(By.XPATH,'/html/body/main/section/div[1]/div[1]/div/div[2]/span[4]')
filter_button.click()

In [72]:
ptype1 = driver.find_element(By.XPATH,'/html/body/div[15]/div/div/div[3]/div[8]/div/div/div[1]/div[3]/label')
ptype1.click()

In [73]:
search_button = driver.find_element(By.XPATH,'/html/body/div[15]/div/div/div[4]/button[2]')
search_button.click()

In [74]:
BHK_type2 = []
Property_type2 = []
Beds2 = []
Bathroom2 = []
Balcony2 = []
Address2 = []
City2 = []
State_code2 = []
Country2 = []
Landmark2 = []
Carpet_Area2 = []
Status2 = []
Floor2 = []
Transaction_Type2 = []
Year_built2 = []
Price_per_sqaure_feet2 = []
Furnished_status2 = []
Facing2 = []
Car_Parking2 = []
Type_of_ownership2 = []
Booking_amount2 = []
Buy_total_price2 = []

In [75]:
URL =  []
start = 0
end = 3
for page in range(start,end):
    url = driver.find_elements(By.XPATH,'//div[@class="embla__slide__inner"]/a')
    for i in url:
        URL.append(i.get_attribute('href'))
next_button = driver.find_element(By.XPATH,'//button[@class="next text-only "]')
next_button.click()
time.sleep(3)

In [79]:
for i in URL:
    driver.get(i)
    time.sleep(2)
    try:
        bhk_type = driver.find_element(By.XPATH,'//span[@class="property-info-feature beds"]/span[1]')
        BHK_type2.append(bhk_type.text)
    except NoSuchElementException:
        BHK_type2.append('-')

    try:
        p_type = driver.find_element(By.XPATH,'//section[@class="ldp-section-container amenities-container"]/div[1]/div/div[1]/div/ul/li')
        Property_type2.append(p_type.text)
    except NoSuchElementException:
        Property_type2.append('-')
        
    try:
        bed = driver.find_element(By.XPATH,'//span[@class="property-info-feature beds"]')
        Beds2.append(bed.text.replace('\n',''))
    except NoSuchElementException:
        Beds2.append('-')

    try:
        bath = driver.find_element(By.XPATH,'//span[@class="property-info-feature"]')
        Bathroom2.append(bath.text.replace('\n',''))
    except NoSuchElementException:
        Bathroom2.append('-')

    try:
        add = driver.find_element(By.XPATH,'//div[@class="property-info-address"]')
        Address2.append(add.text)
    except NoSuchElementException:
        Address2.append('-')

    try:
        c_area = driver.find_element(By.XPATH,'//span[@class="property-info-feature sqft"]')
        Carpet_Area2.append(c_area.text.replace('\n',''))
    except NoSuchElementException:
        Carpet_Area2.append('-')

    try:
        year = driver.find_element(By.XPATH,'//section[@class="ldp-section-container amenities-container"]/div[1]/div/div[3]/div/ul/li')
        Year_built2.append(year.text)
    except NoSuchElementException:
        Year_built2.append('-')

    try:
        parking = driver.find_element(By.XPATH,'//section[@class="ldp-section-container amenities-container"]/div[1]/div/div[11]/div/ul')
        Car_Parking2.append(parking.text)
    except NoSuchElementException:
        Car_Parking2.append('-')

    try:
        price_per_SF = driver.find_element(By.XPATH,'//span[@class="property-info-feature pricepersqt"]')
        Price_per_sqaure_feet2.append(price_per_SF.text.replace('\n',''))
    except NoSuchElementException:
        Price_per_sqaure_feet2.append('-')

    try:
        total_price = driver.find_element(By.XPATH,'//div[@class="property-info-price-and-icons"]/span')
        price_text = total_price.text
        price_inr = float(price_text.replace('$','').replace(',', ''))
        Buy_total_price2.append(price_inr * 83.12)
    except NoSuchElementException:
        Buy_total_price2.append('-')

In [80]:
len(BHK_type2),len(Property_type2),len(Beds2),len(Bathroom2),len(Address2),len(Carpet_Area2),len(Year_built2),len(Car_Parking2),len(Price_per_sqaure_feet2),len(Buy_total_price2),

(697, 697, 697, 697, 697, 697, 697, 697, 697, 697)

In [81]:
Balcony2 = ([''])*697
State_code2 = ([''])*697
Landmark2 = ([''])*697
Floor2 = ([''])*697
Transaction_Type2 = ([''])*697
Furnished_status2 = ([''])*697
Facing2 = ([''])*697
Country2 = (['USA'])*697
Type_of_ownership2 = ([''])*697
Booking_amount2 = ([''])*697
City2 = (['New York'])*697
Status2 = (['ACTIVE'])*697

In [82]:
len(BHK_type2),len(Property_type2),len(Beds2),len(Bathroom2),len(Balcony2),len(Address2),len(City2),len(State_code2),len(Country2),len(Landmark2),len(Carpet_Area2),len(Status2),len(Floor2),len(Transaction_Type2),len(Year_built2),len(Price_per_sqaure_feet2),len(Furnished_status2),len(Facing2),len(Car_Parking2),len(Type_of_ownership2),len(Booking_amount2),len(Buy_total_price2)

(697,
 697,
 697,
 697,
 697,
 697,
 697,
 697,
 697,
 697,
 697,
 697,
 697,
 697,
 697,
 697,
 697,
 697,
 697,
 697,
 697,
 697)

In [83]:
df2 = pd.DataFrame ({'BHK Type':BHK_type2, 'Propery Type':Property_type2, 'Number Of Beds':Beds2,'Number Of Bathroom':Bathroom2,
                    'Number Of Balcony':Balcony2,'Address':Address2,'City':City2,'State Code':State_code2,'Country':Country2,
                    'Landmark':Landmark2,'Carpet Area':Carpet_Area2,'Status':Status2,'Floor':Floor2,'Transaction Type':Transaction_Type2,
                    'Year Of Built':Year_built2,'Price Per Sqaure Feet':Price_per_sqaure_feet2,'Furnished Status':Furnished_status2,
                    'Facing':Facing2,'Car Parking':Car_Parking2,'Type Of Ownership':Type_of_ownership2,'Booking Amount':Booking_amount2,
                    'Buy Total Price':Buy_total_price2})
df2

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,2,Condominium,2Beds,2Baths,,Trump Place\n200 Riverside Blvd Unit 34C\nNew ...,New York,,USA,,...,,,1999,"$1,429Price per Sq Ft",,,Condominium\nIn Ground Pool\nRiver Front\nForc...,,,166240000.0
1,2,Condominium,2Beds,2Baths,,Trump Place\n200 Riverside Blvd Unit 34C\nNew ...,New York,,USA,,...,,,1999,"$1,429Price per Sq Ft",,,Condominium\nIn Ground Pool\nRiver Front\nForc...,,,166240000.0
2,2,Condominium,2Beds,2Baths,,Trump Place\n200 Riverside Blvd Unit 34C\nNew ...,New York,,USA,,...,,,1999,"$1,429Price per Sq Ft",,,Condominium\nIn Ground Pool\nRiver Front\nForc...,,,166240000.0
3,2,Condominium,2Beds,2Baths,,Trump Place\n200 Riverside Blvd Unit 34C\nNew ...,New York,,USA,,...,,,1999,"$1,429Price per Sq Ft",,,Condominium\nIn Ground Pool\nRiver Front\nForc...,,,166240000.0
4,3,Condominium,3Beds,3Baths,,"16 W 21st St Unit 8A\nNew York, NY 10010\nFlat...",New York,,USA,,...,,,2010,"$1,460Price per Sq Ft",,,-,,,332064400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,1,Condominium,1Bed,2Baths,,"395 Broadway, Unit 8D\nNew York, NY 10013\nChi...",New York,,USA,,...,,,1909,"$1,729Price per Sq Ft",,,-,,,162084000.0
693,1,Condominium,1Bed,1.5Baths,,"215 E 19th St Unit 4E\nNew York, NY 10003\nGra...",New York,,USA,,...,,,"$1,842 Monthly Fees","$1,755Price per Sq Ft",,,Indoor Pool\nNo Cooling,,,176214400.0
694,1,Condominium,1Bed,1.5Baths,,"215 E 19th St Unit 4E\nNew York, NY 10003\nGra...",New York,,USA,,...,,,"$1,842 Monthly Fees","$1,755Price per Sq Ft",,,Indoor Pool\nNo Cooling,,,176214400.0
695,1,Condominium,1Bed,1.5Baths,,"215 E 19th St Unit 4E\nNew York, NY 10003\nGra...",New York,,USA,,...,,,"$1,842 Monthly Fees","$1,755Price per Sq Ft",,,Indoor Pool\nNo Cooling,,,176214400.0
696,1,Condominium,1Bed,1.5Baths,,"215 E 19th St Unit 4E\nNew York, NY 10003\nGra...",New York,,USA,,...,,,"$1,842 Monthly Fees","$1,755Price per Sq Ft",,,Indoor Pool\nNo Cooling,,,176214400.0

In [84]:
result1 = pd.concat([result,df2])
result1

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,9 days,,,,,,,207791688.0
1,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,98 days,,,,,,,201566000.0
2,2 BD,Condo,2 BD,2,,"630 North Franklin Street #803, Chicago, IL 60654",Chicago,,USA,,...,,,12 days,,,,,,,39482000.0
3,3 BD,Condo,3 BD,2.5,,"340 East Randolph Street #1705, Chicago, IL 60601",Chicago,,USA,,...,,,2007,,,,,,,165824400.0
4,3 BD,Condo,3 BD,3,,"1211 South Prairie Avenue #706, Chicago, IL 60605",Chicago,,USA,,...,,,28 days,,,,,,,103900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,1,Condominium,1Bed,2Baths,,"395 Broadway, Unit 8D\nNew York, NY 10013\nChi...",New York,,USA,,...,,,1909,"$1,729Price per Sq Ft",,,-,,,162084000.0
693,1,Condominium,1Bed,1.5Baths,,"215 E 19th St Unit 4E\nNew York, NY 10003\nGra...",New York,,USA,,...,,,"$1,842 Monthly Fees","$1,755Price per Sq Ft",,,Indoor Pool\nNo Cooling,,,176214400.0
694,1,Condominium,1Bed,1.5Baths,,"215 E 19th St Unit 4E\nNew York, NY 10003\nGra...",New York,,USA,,...,,,"$1,842 Monthly Fees","$1,755Price per Sq Ft",,,Indoor Pool\nNo Cooling,,,176214400.0
695,1,Condominium,1Bed,1.5Baths,,"215 E 19th St Unit 4E\nNew York, NY 10003\nGra...",New York,,USA,,...,,,"$1,842 Monthly Fees","$1,755Price per Sq Ft",,,Indoor Pool\nNo Cooling,,,176214400.0
696,1,Condominium,1Bed,1.5Baths,,"215 E 19th St Unit 4E\nNew York, NY 10003\nGra...",New York,,USA,,...,,,"$1,842 Monthly Fees","$1,755Price per Sq Ft",,,Indoor Pool\nNo Cooling,,,176214400.0

In [85]:
driver = webdriver.Chrome()

In [86]:
driver.get('https://www.olx.in/')

In [87]:
search = driver.find_element(By.XPATH,'//div[@class="_2AOcM"]/div[4]/a')
search.click()

In [88]:
search_city = driver.find_element(By.XPATH,'//div[@class="_275cI _2lVe2 _2JePH"]/div[3]/ul/li/ul/li[2]')
search_city.click()

In [89]:
filter_button = driver.find_element(By.XPATH,'//div[@class="_275cI _2lVe2 _2JePH"]/div[3]/ul/li/ul/li/ul/li[1]/a')
filter_button.click()

In [90]:
BHK_type3 = []
Property_type3 = []
Beds3 = []
Bathroom3 = []
Balcony3 = []
Address3 = []
City3 = []
State_code3 = []
Country3 = []
Landmark3 = []
Carpet_Area3 = []
Status3 = []
Floor3 = []
Transaction_Type3 = []
Year_built3 = []
Price_per_sqaure_feet3 = []
Furnished_status3 = []
Facing3= []
Car_Parking3 = []
Type_of_ownership3 = []
Booking_amount3 = []
Buy_total_price3 = []

In [92]:
URL =  []
start = 0
end = 3
for page in range(start,end):
    url = driver.find_elements(By.XPATH,'//li[@class="_1DNjI"]/a')
    for i in url:
        URL.append(i.get_attribute('href'))
next_button = driver.find_element(By.XPATH,'//button[@class="rui-apowA rui-htytx rui-UGVY0"]')
next_button.click()
time.sleep(3)

In [94]:
for i in URL:
    driver.get(i)
    time.sleep(2)
    try:
        bhk_type = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[2]/div/span[2]')
        BHK_type3.append(bhk_type.text)
    except NoSuchElementException:
        BHK_type3.append('-')

    try:
        p_type = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[1]/div/span[2]')
        Property_type3.append(p_type.text)
    except NoSuchElementException:
        Property_type3.append('-')
        
    try:
        bed = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[2]/div/span[2]')
        Beds3.append(bed.text.replace('\n',''))
    except NoSuchElementException:
        Beds3.append('-')

    try:
        bath = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[3]/div/span[2]')
        Bathroom3.append(bath.text.replace('\n',''))
    except NoSuchElementException:
        Bathroom3.append('-')

    try:
        add = driver.find_element(By.XPATH,'//div[@class="_3ipDN"]/div/span')
        Address3.append(add.text)
    except NoSuchElementException:
        Address3.append('-')

    try:
        c_area = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[8]/div/span[2]')
        Carpet_Area3.append(c_area.text.replace('\n',''))
    except NoSuchElementException:
        Carpet_Area3.append('-')

    try:
        parking = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[12]/div/span[2]')
        Car_Parking3.append(parking.text)
    except NoSuchElementException:
        Car_Parking3.append('-')

    try:
        total_price = driver.find_element(By.XPATH,'//section[@class="_8S0h4"]/span[1]')
        Buy_total_price3.append(total_price.text.replace('₹','').replace(',', ''))
    except NoSuchElementException:
        Buy_total_price3.append('-')

    try:
        floor = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[11]/div/span[2]')
        Floor3.append(floor.text)
    except NoSuchElementException:
        Floor3.append('-')

    try:
        furniture = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[4]/div/span[2]')
        Furnished_status3.append(furniture.text)
    except NoSuchElementException:
        Furnished_status3.append('-')

    try:
        facing = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[13]/div/span[2]')
        Facing3.append(facing.text)
    except NoSuchElementException:
        Facing3.append('-')

In [95]:
len(BHK_type3),len(Beds3),len(Bathroom3),len(Address3),len(Carpet_Area3),len(Car_Parking3),len(Buy_total_price3),len(Property_type3),len(Floor3),len(Furnished_status3),len(Facing3)

(240, 240, 240, 240, 240, 240, 240, 240, 240, 240, 240)

In [96]:
Year_built3 = ([''])*240
Price_per_sqaure_feet3 = ([''])*240
Balcony3 = ([''])*240
State_code3 = ([''])*240
Landmark3 = ([''])*240
Transaction_Type3 = ([''])*240
Country3 = (['INDIA'])*240
Type_of_ownership3 = ([''])*240
Booking_amount3 = ([''])*240
City3 = (['Mumbai'])*240
Status3 = (['ACTIVE'])*240

In [97]:
len(BHK_type3),len(Property_type3),len(Beds3),len(Bathroom3),len(Balcony3),len(Address3),len(City3),len(State_code3),len(Country3),len(Landmark3),len(Carpet_Area3),len(Status3),len(Floor3),len(Transaction_Type3),len(Year_built3),len(Price_per_sqaure_feet3),len(Furnished_status3),len(Facing3),len(Car_Parking3),len(Type_of_ownership3),len(Booking_amount3),len(Buy_total_price3)

(240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240)

In [98]:
df3 = pd.DataFrame ({'BHK Type':BHK_type3, 'Propery Type':Property_type3, 'Number Of Beds':Beds3,'Number Of Bathroom':Bathroom3,
                    'Number Of Balcony':Balcony3,'Address':Address3,'City':City3,'State Code':State_code3,'Country':Country3,
                    'Landmark':Landmark3,'Carpet Area':Carpet_Area3,'Status':Status3,'Floor':Floor3,'Transaction Type':Transaction_Type3,
                    'Year Of Built':Year_built3,'Price Per Sqaure Feet':Price_per_sqaure_feet3,'Furnished Status':Furnished_status3,
                    'Facing':Facing3,'Car Parking':Car_Parking3,'Type Of Ownership':Type_of_ownership3,'Booking Amount':Booking_amount3,
                    'Buy Total Price':Buy_total_price3})
df3

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,2,Apartments,2,2,,"Sion East, Mumbai, Maharashtra",Mumbai,,INDIA,,...,1,,,,Furnished,North-East,1,,,16000000
1,1,Apartments,1,2,,"Kurla West, Mumbai, Maharashtra",Mumbai,,INDIA,,...,5,,,,Semi-Furnished,West,1,,,13000000
2,1,Houses & Villas,1,1,,"Khar East, Mumbai, Maharashtra",Mumbai,,INDIA,,...,1,,,,Unfurnished,East,0,,,2500000
3,3,Apartments,3,2,,"Kurla West, Mumbai, Maharashtra",Mumbai,,INDIA,,...,21,,,,Unfurnished,East,1,,,10000000
4,-,-,-,-,,-,Mumbai,,INDIA,,...,-,,,,-,-,-,,,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,3,Apartments,3,3,,"Matunga East, Mumbai, Maharashtra",Mumbai,,INDIA,,...,-,,,,Semi-Furnished,-,-,,,47000000
236,3,Apartments,3,3,,"Wadala West, Mumbai, Maharashtra",Mumbai,,INDIA,,...,-,,,,Semi-Furnished,-,-,,,56500000
237,3,Apartments,3,3,,"Sion West, Mumbai, Maharashtra",Mumbai,,INDIA,,...,-,,,,Semi-Furnished,-,-,,,56000000
238,3,Apartments,3,3,,"Sion East, Mumbai, Maharashtra",Mumbai,,INDIA,,...,-,,,,Semi-Furnished,-,-,,,55800000
239,1,Apartments,1,2,,"Dadar West, Mumbai, Maharashtra",Mumbai,,INDIA,,...,15,,,,Unfurnished,East,0,,,6580000

In [99]:
result2 = pd.concat([result1,df3])
result2

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,9 days,,,,,,,207791688.0
1,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,98 days,,,,,,,201566000.0
2,2 BD,Condo,2 BD,2,,"630 North Franklin Street #803, Chicago, IL 60654",Chicago,,USA,,...,,,12 days,,,,,,,39482000.0
3,3 BD,Condo,3 BD,2.5,,"340 East Randolph Street #1705, Chicago, IL 60601",Chicago,,USA,,...,,,2007,,,,,,,165824400.0
4,3 BD,Condo,3 BD,3,,"1211 South Prairie Avenue #706, Chicago, IL 60605",Chicago,,USA,,...,,,28 days,,,,,,,103900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,3,Apartments,3,3,,"Matunga East, Mumbai, Maharashtra",Mumbai,,INDIA,,...,-,,,,Semi-Furnished,-,-,,,47000000
236,3,Apartments,3,3,,"Wadala West, Mumbai, Maharashtra",Mumbai,,INDIA,,...,-,,,,Semi-Furnished,-,-,,,56500000
237,3,Apartments,3,3,,"Sion West, Mumbai, Maharashtra",Mumbai,,INDIA,,...,-,,,,Semi-Furnished,-,-,,,56000000
238,3,Apartments,3,3,,"Sion East, Mumbai, Maharashtra",Mumbai,,INDIA,,...,-,,,,Semi-Furnished,-,-,,,55800000
239,1,Apartments,1,2,,"Dadar West, Mumbai, Maharashtra",Mumbai,,INDIA,,...,15,,,,Unfurnished,East,0,,,6580000

In [100]:
driver.quit()

In [101]:
driver = webdriver.Chrome()

In [102]:
driver.get('https://www.olx.in/')

In [103]:
search = driver.find_element(By.XPATH,'//div[@class="_2AOcM"]/div[4]/a')
search.click()

In [104]:
search_city = driver.find_element(By.XPATH,'//div[@class="_275cI _2lVe2 _2JePH"]/div[3]/ul/li/ul/li[2]')
search_city.click()

In [105]:
filter_button = driver.find_element(By.XPATH,'//div[@class="_275cI _2lVe2 _2JePH"]/div[3]/ul/li/ul/li/ul/li[2]/a')
filter_button.click()

In [106]:
BHK_type4 = []
Property_type4 = []
Beds4 = []
Bathroom4 = []
Balcony4 = []
Address4 = []
City4 = []
State_code4 = []
Country4 = []
Landmark4 = []
Carpet_Area4 = []
Status4 = []
Floor4 = []
Transaction_Type4 = []
Year_built4 = []
Price_per_sqaure_feet4 = []
Furnished_status4 = []
Facing4 = []
Car_Parking4 = []
Type_of_ownership4 = []
Booking_amount4 = []
Buy_total_price4 = []

In [107]:
URL =  []
start = 0
end = 3
for page in range(start,end):
    url = driver.find_elements(By.XPATH,'//li[@class="_1DNjI"]/a')
    for i in url:
        URL.append(i.get_attribute('href'))
next_button = driver.find_element(By.XPATH,'//button[@class="rui-apowA rui-htytx rui-UGVY0"]')
next_button.click()
time.sleep(3)

In [109]:
for i in URL:
    driver.get(i)
    time.sleep(2)
    try:
        bhk_type = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[2]/div/span[2]')
        BHK_type4.append(bhk_type.text)
    except NoSuchElementException:
        BHK_type4.append('-')

    try:
        p_type = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[1]/div/span[2]')
        Property_type4.append(p_type.text)
    except NoSuchElementException:
        Property_type4.append('-')
        
    try:
        bed = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[2]/div/span[2]')
        Beds4.append(bed.text.replace('\n',''))
    except NoSuchElementException:
        Beds4.append('-')

    try:
        bath = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[3]/div/span[2]')
        Bathroom4.append(bath.text.replace('\n',''))
    except NoSuchElementException:
        Bathroom4.append('-')

    try:
        add = driver.find_element(By.XPATH,'//div[@class="_3ipDN"]/div/span')
        Address4.append(add.text)
    except NoSuchElementException:
        Address4.append('-')

    try:
        c_area = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[8]/div/span[2]')
        Carpet_Area4.append(c_area.text.replace('\n',''))
    except NoSuchElementException:
        Carpet_Area4.append('-')

    try:
        parking = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[12]/div/span[2]')
        Car_Parking4.append(parking.text)
    except NoSuchElementException:
        Car_Parking4.append('-')

    try:
        total_price = driver.find_element(By.XPATH,'//section[@class="_8S0h4"]/span[1]')
        Buy_total_price4.append(total_price.text.replace('₹','').replace(',', ''))
    except NoSuchElementException:
        Buy_total_price4.append('-')

    try:
        floor = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[11]/div/span[2]')
        Floor4.append(floor.text)
    except NoSuchElementException:
        Floor4.append('-')

    try:
        furniture = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[4]/div/span[2]')
        Furnished_status4.append(furniture.text)
    except NoSuchElementException:
        Furnished_status4.append('-')

    try:
        facing = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[13]/div/span[2]')
        Facing4.append(facing.text)
    except NoSuchElementException:
        Facing4.append('-')

In [110]:
len(BHK_type4),len(Beds4),len(Bathroom4),len(Address4),len(Carpet_Area4),len(Car_Parking4),len(Buy_total_price4),len(Property_type4),len(Floor4),len(Furnished_status4),len(Facing4)

(120, 120, 120, 120, 120, 120, 120, 120, 120, 120, 120)

In [111]:
Year_built4 = ([''])*120
Price_per_sqaure_feet4 = ([''])*120
Balcony4 = ([''])*120
State_code4 = ([''])*120
Landmark4 = ([''])*120
Transaction_Type4 = ([''])*120
Country4 = (['INDIA'])*120
Type_of_ownership4 = ([''])*120
Booking_amount4 = ([''])*120
City4 = (['Pune'])*120
Status4 = (['ACTIVE'])*120

In [112]:
len(BHK_type4),len(Property_type4),len(Beds4),len(Bathroom4),len(Balcony4),len(Address4),len(City4),len(State_code4),len(Country4),len(Landmark4),len(Carpet_Area4),len(Status4),len(Floor4),len(Transaction_Type4),len(Year_built4),len(Price_per_sqaure_feet4),len(Furnished_status4),len(Facing4),len(Car_Parking4),len(Type_of_ownership4),len(Booking_amount4),len(Buy_total_price4)

(120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120)

In [113]:
df4 = pd.DataFrame ({'BHK Type':BHK_type4, 'Propery Type':Property_type4, 'Number Of Beds':Beds4,'Number Of Bathroom':Bathroom4,
                    'Number Of Balcony':Balcony4,'Address':Address4,'City':City4,'State Code':State_code4,'Country':Country4,
                    'Landmark':Landmark4,'Carpet Area':Carpet_Area4,'Status':Status4,'Floor':Floor4,'Transaction Type':Transaction_Type4,
                    'Year Of Built':Year_built4,'Price Per Sqaure Feet':Price_per_sqaure_feet4,'Furnished Status':Furnished_status4,
                    'Facing':Facing4,'Car Parking':Car_Parking4,'Type Of Ownership':Type_of_ownership4,'Booking Amount':Booking_amount4,
                    'Buy Total Price':Buy_total_price4})
df4

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,2,Apartments,2,2,,"Market Yard, Pune, Maharashtra",Pune,,INDIA,,...,15,,,,Unfurnished,East,1,,,4900000
1,2,Apartments,2,2,,"Market Yard, Pune, Maharashtra",Pune,,INDIA,,...,5,,,,Unfurnished,East,1,,,6250006
2,2,Apartments,2,2,,"Cantonment Residential Area, Pune, Maharashtra",Pune,,INDIA,,...,5,,,,Unfurnished,East,1,,,6300001
3,3,Apartments,3,2,,"Vishrant Wadi, Pune, Maharashtra",Pune,,INDIA,,...,1,,,,Unfurnished,Radhika Residency,East,,,8800000
4,2,Apartments,2,2,,"Vishrant Wadi, Pune, Maharashtra",Pune,,INDIA,,...,1,,,,Unfurnished,Radhika Residency,East,,,8200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,4,Apartments,4,4,,"Kalyani Nagar, Pune, Maharashtra",Pune,,INDIA,,...,1,,,,Semi-Furnished,Verde Residence,East,,,87000000
116,3,Apartments,3,3,,"Kalyani Nagar, Pune, Maharashtra",Pune,,INDIA,,...,15,,,,Semi-Furnished,East,1,,,7600000
117,1,Apartments,1,1,,"Vishrant Wadi, Pune, Maharashtra",Pune,,INDIA,,...,1,,,,Unfurnished,Tirupati Regalia,East,,,7000000
118,1,Apartments,1,1,,"Koregaon Park Extension, Pune, Maharashtra",Pune,,INDIA,,...,1,,,,Unfurnished,TruSpace Premiera,East,,,5600000
119,4,Apartments,4,Unfurnished,,"Koregaon Park Extension, Pune, Maharashtra",Pune,,INDIA,,...,East,,,,Under Construction,-,Horizon Highgroves,,,22500000

In [114]:
result3 = pd.concat([result2,df4])
result3

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,9 days,,,,,,,207791688.0
1,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,98 days,,,,,,,201566000.0
2,2 BD,Condo,2 BD,2,,"630 North Franklin Street #803, Chicago, IL 60654",Chicago,,USA,,...,,,12 days,,,,,,,39482000.0
3,3 BD,Condo,3 BD,2.5,,"340 East Randolph Street #1705, Chicago, IL 60601",Chicago,,USA,,...,,,2007,,,,,,,165824400.0
4,3 BD,Condo,3 BD,3,,"1211 South Prairie Avenue #706, Chicago, IL 60605",Chicago,,USA,,...,,,28 days,,,,,,,103900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,4,Apartments,4,4,,"Kalyani Nagar, Pune, Maharashtra",Pune,,INDIA,,...,1,,,,Semi-Furnished,Verde Residence,East,,,87000000
116,3,Apartments,3,3,,"Kalyani Nagar, Pune, Maharashtra",Pune,,INDIA,,...,15,,,,Semi-Furnished,East,1,,,7600000
117,1,Apartments,1,1,,"Vishrant Wadi, Pune, Maharashtra",Pune,,INDIA,,...,1,,,,Unfurnished,Tirupati Regalia,East,,,7000000
118,1,Apartments,1,1,,"Koregaon Park Extension, Pune, Maharashtra",Pune,,INDIA,,...,1,,,,Unfurnished,TruSpace Premiera,East,,,5600000
119,4,Apartments,4,Unfurnished,,"Koregaon Park Extension, Pune, Maharashtra",Pune,,INDIA,,...,East,,,,Under Construction,-,Horizon Highgroves,,,22500000

In [115]:
driver.quit()

In [116]:
driver = webdriver.Chrome()

In [117]:
driver.get('https://www.olx.in/')

In [118]:
search = driver.find_element(By.XPATH,'//div[@class="_2AOcM"]/div[4]/a')
search.click()

In [119]:
search_city = driver.find_element(By.XPATH,'//div[@class="_275cI _2lVe2 _2JePH"]/div[3]/ul/li/ul/li[2]')
search_city.click()

In [121]:
filter_button = driver.find_element(By.XPATH,'//div[@class="_275cI _2lVe2 _2JePH"]/div[3]/ul/li/ul/li/ul/li[3]/a')
filter_button.click()

In [122]:
BHK_type5= []
Property_type5 = []
Beds5 = []
Bathroom5 = []
Balcony5 = []
Address5 = []
City5 = []
State_code5 = []
Country5 = []
Landmark5 = []
Carpet_Area5 = []
Status5 = []
Floor5 = []
Transaction_Type5 = []
Year_built5 = []
Price_per_sqaure_feet5 = []
Furnished_status5 = []
Facing5 = []
Car_Parking5 = []
Type_of_ownership5 = []
Booking_amount5 = []
Buy_total_price5 = []

In [125]:
URL =  []
start = 0
end = 3
for page in range(start,end):
    url = driver.find_elements(By.XPATH,'//li[@class="_1DNjI"]/a')
    for i in url:
        URL.append(i.get_attribute('href'))
next_button = driver.find_element(By.XPATH,'//button[@class="rui-apowA rui-htytx rui-UGVY0"]')
next_button.click()
time.sleep(3)

In [127]:
for i in URL:
    driver.get(i)
    time.sleep(2)
    try:
        bhk_type = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[2]/div/span[2]')
        BHK_type5.append(bhk_type.text)
    except NoSuchElementException:
        BHK_type5.append('-')

    try:
        p_type = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[1]/div/span[2]')
        Property_type5.append(p_type.text)
    except NoSuchElementException:
        Property_type5.append('-')
        
    try:
        bed = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[2]/div/span[2]')
        Beds5.append(bed.text.replace('\n',''))
    except NoSuchElementException:
        Beds5.append('-')

    try:
        bath = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[3]/div/span[2]')
        Bathroom5.append(bath.text.replace('\n',''))
    except NoSuchElementException:
        Bathroom5.append('-')

    try:
        add = driver.find_element(By.XPATH,'//div[@class="_3ipDN"]/div/span')
        Address5.append(add.text)
    except NoSuchElementException:
        Address5.append('-')

    try:
        c_area = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[8]/div/span[2]')
        Carpet_Area5.append(c_area.text.replace('\n',''))
    except NoSuchElementException:
        Carpet_Area5.append('-')

    try:
        parking = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[12]/div/span[2]')
        Car_Parking5.append(parking.text)
    except NoSuchElementException:
        Car_Parking5.append('-')

    try:
        total_price = driver.find_element(By.XPATH,'//section[@class="_8S0h4"]/span[1]')
        Buy_total_price5.append(total_price.text.replace('₹','').replace(',', ''))
    except NoSuchElementException:
        Buy_total_price5.append('-')

    try:
        floor = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[11]/div/span[2]')
        Floor5.append(floor.text)
    except NoSuchElementException:
        Floor5.append('-')

    try:
        furniture = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[4]/div/span[2]')
        Furnished_status5.append(furniture.text)
    except NoSuchElementException:
        Furnished_status5.append('-')

    try:
        facing = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[13]/div/span[2]')
        Facing5.append(facing.text)
    except NoSuchElementException:
        Facing5.append('-')

In [128]:
len(BHK_type5),len(Beds5),len(Bathroom5),len(Address5),len(Carpet_Area5),len(Car_Parking5),len(Buy_total_price5),len(Property_type5),len(Floor5),len(Furnished_status5),len(Facing5)

(120, 120, 120, 120, 120, 120, 120, 120, 120, 120, 120)

In [129]:
Year_built5 = ([''])*120
Price_per_sqaure_feet5= ([''])*120
Balcony5 = ([''])*120
State_code5 = ([''])*120
Landmark5 = ([''])*120
Transaction_Type5 = ([''])*120
Country5 = (['INDIA'])*120
Type_of_ownership5 = ([''])*120
Booking_amount5 = ([''])*120
City5 = (['Thane'])*120
Status5 = (['ACTIVE'])*120

In [130]:
len(BHK_type5),len(Property_type5),len(Beds5),len(Bathroom5),len(Balcony5),len(Address5),len(City5),len(State_code5),len(Country5),len(Landmark5),len(Carpet_Area5),len(Status5),len(Floor5),len(Transaction_Type5),len(Year_built5),len(Price_per_sqaure_feet5),len(Furnished_status5),len(Facing5),len(Car_Parking5),len(Type_of_ownership5),len(Booking_amount5),len(Buy_total_price5)

(120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120,
 120)

In [131]:
df4 = pd.DataFrame ({'BHK Type':BHK_type5, 'Propery Type':Property_type5, 'Number Of Beds':Beds5,'Number Of Bathroom':Bathroom5,
                    'Number Of Balcony':Balcony5,'Address':Address5,'City':City5,'State Code':State_code5,'Country':Country5,
                    'Landmark':Landmark5,'Carpet Area':Carpet_Area5,'Status':Status5,'Floor':Floor5,'Transaction Type':Transaction_Type5,
                    'Year Of Built':Year_built5,'Price Per Sqaure Feet':Price_per_sqaure_feet5,'Furnished Status':Furnished_status5,
                    'Facing':Facing5,'Car Parking':Car_Parking5,'Type Of Ownership':Type_of_ownership5,'Booking Amount':Booking_amount5,
                    'Buy Total Price':Buy_total_price5})
df4

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,2,Apartments,2,2,,"Majiwada, Thane, Maharashtra",Thane,,INDIA,,...,25,,,,Semi-Furnished,East,1,,,11000000
1,2,Apartments,2,2,,"Vartak Nagar, Thane, Maharashtra",Thane,,INDIA,,...,1,,,,Unfurnished,Puraniks Royale,East,,,9700000
2,2,Apartments,2,2,,"Majiwada, Thane, Maharashtra",Thane,,INDIA,,...,25,,,,Semi-Furnished,East,1,,,16000000
3,1,Apartments,1,1,,"Kalwa, Thane, Maharashtra",Thane,,INDIA,,...,0,,,,Unfurnished,East,1,,,1500000
4,2,Apartments,2,2,,"Naupada, Thane, Maharashtra",Thane,,INDIA,,...,5,,,,Semi-Furnished,East,1,,,15000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,1,Apartments,1,1,,"Shailesh Nagar, Thane, Maharashtra",Thane,,INDIA,,...,5,,,,Unfurnished,East,0,,,3636000
116,2,Apartments,2,2,,"Shailesh Nagar, Thane, Maharashtra",Thane,,INDIA,,...,5,,,,Unfurnished,South,0,,,6073750
117,1,Apartments,1,2,,"Manpada, Thane, Maharashtra",Thane,,INDIA,,...,1,,,,Semi-Furnished,-,East,,,6500000
118,1,Apartments,1,2,,"Manpada, Thane, Maharashtra",Thane,,INDIA,,...,0,,,,Unfurnished,-,West,,,5500000
119,3,Apartments,3,2,,"Manpada, Thane, Maharashtra",Thane,,INDIA,,...,1,,,,Furnished,-,West,,,13000000

In [132]:
result4 = pd.concat([result3,df4])
result4

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,9 days,,,,,,,207791688.0
1,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,98 days,,,,,,,201566000.0
2,2 BD,Condo,2 BD,2,,"630 North Franklin Street #803, Chicago, IL 60654",Chicago,,USA,,...,,,12 days,,,,,,,39482000.0
3,3 BD,Condo,3 BD,2.5,,"340 East Randolph Street #1705, Chicago, IL 60601",Chicago,,USA,,...,,,2007,,,,,,,165824400.0
4,3 BD,Condo,3 BD,3,,"1211 South Prairie Avenue #706, Chicago, IL 60605",Chicago,,USA,,...,,,28 days,,,,,,,103900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,1,Apartments,1,1,,"Shailesh Nagar, Thane, Maharashtra",Thane,,INDIA,,...,5,,,,Unfurnished,East,0,,,3636000
116,2,Apartments,2,2,,"Shailesh Nagar, Thane, Maharashtra",Thane,,INDIA,,...,5,,,,Unfurnished,South,0,,,6073750
117,1,Apartments,1,2,,"Manpada, Thane, Maharashtra",Thane,,INDIA,,...,1,,,,Semi-Furnished,-,East,,,6500000
118,1,Apartments,1,2,,"Manpada, Thane, Maharashtra",Thane,,INDIA,,...,0,,,,Unfurnished,-,West,,,5500000
119,3,Apartments,3,2,,"Manpada, Thane, Maharashtra",Thane,,INDIA,,...,1,,,,Furnished,-,West,,,13000000

In [133]:
driver.quit()

In [134]:
driver = webdriver.Chrome()

In [135]:
driver.get('https://www.olx.in/')

In [136]:
search = driver.find_element(By.XPATH,'//div[@class="_2AOcM"]/div[4]/a')
search.click()

In [137]:
search_city = driver.find_element(By.XPATH,'//div[@class="_275cI _2lVe2 _2JePH"]/div[3]/ul/li/ul/li[5]')
search_city.click()

In [138]:
filter_button = driver.find_element(By.XPATH,'//div[@class="_275cI _2lVe2 _2JePH"]/div[3]/ul/li/ul/li/ul/li[1]/a')
filter_button.click()

In [139]:
BHK_type6= []
Property_type6 = []
Beds6 = []
Bathroom6 = []
Balcony6 = []
Address6 = []
City6 = []
State_code6 = []
Country6 = []
Landmark6 = []
Carpet_Area6 = []
Status6 = []
Floor6 = []
Transaction_Type6 = []
Year_built6 = []
Price_per_sqaure_feet6 = []
Furnished_status6 = []
Facing6 = []
Car_Parking6 = []
Type_of_ownership6 = []
Booking_amount6 = []
Buy_total_price6 = []

In [140]:
URL =  []
start = 0
end = 4
for page in range(start,end):
    url = driver.find_elements(By.XPATH,'//li[@class="_1DNjI"]/a')
    for i in url:
        URL.append(i.get_attribute('href'))
next_button = driver.find_element(By.XPATH,'//div[@class="_38O09"]/button')
next_button.click()
time.sleep(3)

In [142]:
for i in URL:
    driver.get(i)
    time.sleep(2)
    try:
        bhk_type = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[2]/div/span[2]')
        BHK_type6.append(bhk_type.text)
    except NoSuchElementException:
        BHK_type6.append('-')

    try:
        p_type = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[1]/div/span[2]')
        Property_type6.append(p_type.text)
    except NoSuchElementException:
        Property_type6.append('-')
        
    try:
        bed = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[2]/div/span[2]')
        Beds6.append(bed.text.replace('\n',''))
    except NoSuchElementException:
        Beds6.append('-')

    try:
        bath = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[3]/div/span[2]')
        Bathroom6.append(bath.text.replace('\n',''))
    except NoSuchElementException:
        Bathroom6.append('-')

    try:
        add = driver.find_element(By.XPATH,'//div[@class="_3ipDN"]/div/span')
        Address6.append(add.text)
    except NoSuchElementException:
        Address6.append('-')

    try:
        c_area = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[8]/div/span[2]')
        Carpet_Area6.append(c_area.text.replace('\n',''))
    except NoSuchElementException:
        Carpet_Area6.append('-')

    try:
        parking = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[12]/div/span[2]')
        Car_Parking6.append(parking.text)
    except NoSuchElementException:
        Car_Parking6.append('-')

    try:
        total_price = driver.find_element(By.XPATH,'//section[@class="_8S0h4"]/span[1]')
        Buy_total_price6.append(total_price.text.replace('₹','').replace(',', ''))
    except NoSuchElementException:
        Buy_total_price6.append('-')

    try:
        floor = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[11]/div/span[2]')
        Floor6.append(floor.text)
    except NoSuchElementException:
        Floor6.append('-')

    try:
        furniture = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[4]/div/span[2]')
        Furnished_status6.append(furniture.text)
    except NoSuchElementException:
        Furnished_status6.append('-')

    try:
        facing = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[13]/div/span[2]')
        Facing6.append(facing.text)
    except NoSuchElementException:
        Facing6.append('-')

In [143]:
len(BHK_type6),len(Beds6),len(Bathroom6),len(Address6),len(Carpet_Area6),len(Car_Parking6),len(Buy_total_price6),len(Property_type6),len(Floor6),len(Furnished_status6),len(Facing6)

(160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160)

In [144]:
Year_built6 = ([''])*160
Price_per_sqaure_feet6 = ([''])*160
Balcony6 = ([''])*160
State_code6 = ([''])*160
Landmark6= ([''])*160
Transaction_Type6 = ([''])*160
Country6 = (['INDIA'])*160
Type_of_ownership6 = ([''])*160
Booking_amount6 = ([''])*160
City6 = (['Ahmedabad'])*160
Status6 = (['ACTIVE'])*160

In [145]:
len(BHK_type6),len(Property_type6),len(Beds6),len(Bathroom6),len(Balcony6),len(Address6),len(City6),len(State_code6),len(Country6),len(Landmark6),len(Carpet_Area6),len(Status6),len(Floor6),len(Transaction_Type6),len(Year_built6),len(Price_per_sqaure_feet6),len(Furnished_status6),len(Facing6),len(Car_Parking6),len(Type_of_ownership6),len(Booking_amount6),len(Buy_total_price6)

(160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160)

In [146]:
df5 = pd.DataFrame ({'BHK Type':BHK_type6, 'Propery Type':Property_type6, 'Number Of Beds':Beds6,'Number Of Bathroom':Bathroom6,
                    'Number Of Balcony':Balcony6,'Address':Address6,'City':City6,'State Code':State_code6,'Country':Country6,
                    'Landmark':Landmark6,'Carpet Area':Carpet_Area6,'Status':Status6,'Floor':Floor6,'Transaction Type':Transaction_Type6,
                    'Year Of Built':Year_built6,'Price Per Sqaure Feet':Price_per_sqaure_feet6,'Furnished Status':Furnished_status6,
                    'Facing':Facing6,'Car Parking':Car_Parking6,'Type Of Ownership':Type_of_ownership6,'Booking Amount':Booking_amount6,
                    'Buy Total Price':Buy_total_price6})
df5

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,3,Houses & Villas,3,3,,"Nirnay Nagar, Ahmedabad, Gujarat",Ahmedabad,,INDIA,,...,2,,,,Semi-Furnished,North,1,,,14000000
1,2,Apartments,2,2,,"Ashram Road, Ahmedabad, Gujarat",Ahmedabad,,INDIA,,...,3,,,,Furnished,North,1,,,7200000
2,4,Houses & Villas,4,2,,"Ranip, Ahmedabad, Gujarat",Ahmedabad,,INDIA,,...,2,,,,Unfurnished,North,1,,,5900000
3,4,Houses & Villas,4,4,,"Megani Nagar, Ahmedabad, Gujarat",Ahmedabad,,INDIA,,...,2,,,,Furnished,Saibaba society,South-East,,,7500000
4,2,Apartments,2,1,,"Saraspur Village, Ahmedabad, Gujarat",Ahmedabad,,INDIA,,...,4,,,,Semi-Furnished,East,2,,,2400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,2,Apartments,2,2,,"Digvijay Nagar, Ahmedabad, Gujarat",Ahmedabad,,INDIA,,...,4,,,,Semi-Furnished,North-East,1,,,5000000
156,3,Apartments,3,3,,"Paldi, Ahmedabad, Gujarat",Ahmedabad,,INDIA,,...,3,,,,Furnished,East,1,,,11500000
157,4,Houses & Villas,4,3,,"Paldi, Ahmedabad, Gujarat",Ahmedabad,,INDIA,,...,0,,,,Semi-Furnished,East,1,,,13000000
158,2,Apartments,2,2,,"Naranpura, Ahmedabad, Gujarat",Ahmedabad,,INDIA,,...,1,,,,Furnished,West,1,,,7500000
159,2,Farm Houses,2,1,,"Bapu Nagar, Ahmedabad, Gujarat",Ahmedabad,,INDIA,,...,0,,,,Furnished,East,2,,,5500000

In [147]:
result5 = pd.concat([result4,df5])
result5

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,9 days,,,,,,,207791688.0
1,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,98 days,,,,,,,201566000.0
2,2 BD,Condo,2 BD,2,,"630 North Franklin Street #803, Chicago, IL 60654",Chicago,,USA,,...,,,12 days,,,,,,,39482000.0
3,3 BD,Condo,3 BD,2.5,,"340 East Randolph Street #1705, Chicago, IL 60601",Chicago,,USA,,...,,,2007,,,,,,,165824400.0
4,3 BD,Condo,3 BD,3,,"1211 South Prairie Avenue #706, Chicago, IL 60605",Chicago,,USA,,...,,,28 days,,,,,,,103900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,2,Apartments,2,2,,"Digvijay Nagar, Ahmedabad, Gujarat",Ahmedabad,,INDIA,,...,4,,,,Semi-Furnished,North-East,1,,,5000000
156,3,Apartments,3,3,,"Paldi, Ahmedabad, Gujarat",Ahmedabad,,INDIA,,...,3,,,,Furnished,East,1,,,11500000
157,4,Houses & Villas,4,3,,"Paldi, Ahmedabad, Gujarat",Ahmedabad,,INDIA,,...,0,,,,Semi-Furnished,East,1,,,13000000
158,2,Apartments,2,2,,"Naranpura, Ahmedabad, Gujarat",Ahmedabad,,INDIA,,...,1,,,,Furnished,West,1,,,7500000
159,2,Farm Houses,2,1,,"Bapu Nagar, Ahmedabad, Gujarat",Ahmedabad,,INDIA,,...,0,,,,Furnished,East,2,,,5500000

In [148]:
driver.quit()

In [149]:
driver = webdriver.Chrome()

In [150]:
driver.get('https://www.olx.in/')

In [151]:
search = driver.find_element(By.XPATH,'//div[@class="_2AOcM"]/div[4]/a')
search.click()

In [152]:
search_city = driver.find_element(By.XPATH,'//div[@class="_275cI _2lVe2 _2JePH"]/div[3]/ul/li/ul/li[4]')
search_city.click()

In [153]:
filter_button = driver.find_element(By.XPATH,'//div[@class="_275cI _2lVe2 _2JePH"]/div[3]/ul/li/ul/li/ul/li[1]/a')
filter_button.click()

In [154]:
BHK_type7= []
Property_type7 = []
Beds7 = []
Bathroom7 = []
Balcony7 = []
Address7 = []
City7 = []
State_code7 = []
Country7 = []
Landmark7 = []
Carpet_Area7 = []
Status7 = []
Floor7 = []
Transaction_Type7 = []
Year_built7 = []
Price_per_sqaure_feet7 = []
Furnished_status7 = []
Facing7 = []
Car_Parking7 = []
Type_of_ownership7 = []
Booking_amount7 = []
Buy_total_price7 = []

In [157]:
URL =  []
start = 0
end = 5
for page in range(start,end):
    url = driver.find_elements(By.XPATH,'//li[@class="_1DNjI"]/a')
    for i in url:
        URL.append(i.get_attribute('href'))
next_button = driver.find_element(By.XPATH,'//div[@class="_38O09"]/button')
next_button.click()
time.sleep(3)

In [159]:
for i in URL:
    driver.get(i)
    time.sleep(2)
    try:
        bhk_type = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[2]/div/span[2]')
        BHK_type7.append(bhk_type.text)
    except NoSuchElementException:
        BHK_type7.append('-')

    try:
        p_type = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[1]/div/span[2]')
        Property_type7.append(p_type.text)
    except NoSuchElementException:
        Property_type7.append('-')
        
    try:
        bed = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[2]/div/span[2]')
        Beds7.append(bed.text.replace('\n',''))
    except NoSuchElementException:
        Beds7.append('-')

    try:
        bath = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[3]/div/span[2]')
        Bathroom7.append(bath.text.replace('\n',''))
    except NoSuchElementException:
        Bathroom7.append('-')

    try:
        add = driver.find_element(By.XPATH,'//div[@class="_3ipDN"]/div/span')
        Address7.append(add.text)
    except NoSuchElementException:
        Address7.append('-')

    try:
        c_area = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[8]/div/span[2]')
        Carpet_Area7.append(c_area.text.replace('\n',''))
    except NoSuchElementException:
        Carpet_Area7.append('-')

    try:
        parking = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[12]/div/span[2]')
        Car_Parking7.append(parking.text)
    except NoSuchElementException:
        Car_Parking7.append('-')

    try:
        total_price = driver.find_element(By.XPATH,'//section[@class="_8S0h4"]/span[1]')
        Buy_total_price7.append(total_price.text.replace('₹','').replace(',', ''))
    except NoSuchElementException:
        Buy_total_price7.append('-')

    try:
        floor = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[11]/div/span[2]')
        Floor7.append(floor.text)
    except NoSuchElementException:
        Floor7.append('-')

    try:
        furniture = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[4]/div/span[2]')
        Furnished_status7.append(furniture.text)
    except NoSuchElementException:
        Furnished_status7.append('-')

    try:
        facing = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[13]/div/span[2]')
        Facing7.append(facing.text)
    except NoSuchElementException:
        Facing7.append('-')

In [160]:
len(BHK_type7),len(Beds7),len(Bathroom7),len(Address7),len(Carpet_Area7),len(Car_Parking7),len(Buy_total_price7),len(Property_type7),len(Floor7),len(Furnished_status7),len(Facing7)

(400, 400, 400, 400, 400, 400, 400, 400, 400, 400, 400)

In [161]:
Year_built7 = ([''])*400
Price_per_sqaure_feet7 = ([''])*400
Balcony7 = ([''])*400
State_code7 = ([''])*400
Landmark7 = ([''])*400
Transaction_Type7 = ([''])*400
Country7 = (['INDIA'])*400
Type_of_ownership7 = ([''])*400
Booking_amount7 = ([''])*400
City7 = (['Chennai'])*400
Status7 = (['ACTIVE'])*400

In [162]:
len(BHK_type7),len(Property_type7),len(Beds7),len(Bathroom7),len(Balcony7),len(Address7),len(City7),len(State_code7),len(Country7),len(Landmark7),len(Carpet_Area7),len(Status7),len(Floor7),len(Transaction_Type7),len(Year_built7),len(Price_per_sqaure_feet7),len(Furnished_status7),len(Facing7),len(Car_Parking7),len(Type_of_ownership7),len(Booking_amount7),len(Buy_total_price7)

(400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400)

In [163]:
df6 = pd.DataFrame ({'BHK Type':BHK_type7, 'Propery Type':Property_type7, 'Number Of Beds':Beds7,'Number Of Bathroom':Bathroom7,
                    'Number Of Balcony':Balcony7,'Address':Address7,'City':City7,'State Code':State_code7,'Country':Country7,
                    'Landmark':Landmark7,'Carpet Area':Carpet_Area7,'Status':Status7,'Floor':Floor7,'Transaction Type':Transaction_Type7,
                    'Year Of Built':Year_built7,'Price Per Sqaure Feet':Price_per_sqaure_feet7,'Furnished Status':Furnished_status7,
                    'Facing':Facing7,'Car Parking':Car_Parking7,'Type Of Ownership':Type_of_ownership7,'Booking Amount':Booking_amount7,
                    'Buy Total Price':Buy_total_price7})
df6

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,4,Houses & Villas,4,4,,"Pattalam, Chennai, Tamil Nadu",Chennai,,INDIA,,...,3,,,,Unfurnished,Hamza home,0,,,6700000
1,4+,Houses & Villas,4+,4+,,"Ayanavaram, Chennai, Tamil Nadu",Chennai,,INDIA,,...,0,,,,Unfurnished,Ayanavaram building,North-East,,,7000000
2,1,Apartments,1,1,,"Perambur, Chennai, Tamil Nadu",Chennai,,INDIA,,...,1,,,,Semi-Furnished,East,1,,,3850000
3,Unfurnished,Builder Floors,Unfurnished,New Launch,,"Vyasarpadi M M Garden, Chennai, Tamil Nadu",Chennai,,INDIA,,...,House,,,,Owner,-,-,,,5500000
4,1,Houses & Villas,1,1,,"Erukkancherry, Chennai, Tamil Nadu",Chennai,,INDIA,,...,-,,,,Ready to Move,-,-,,,3200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1,Farm Houses,1,1,,"Old Washermanpet, Chennai, Tamil Nadu",Chennai,,INDIA,,...,North,,,,Unfurnished,-,-,,,7500000
396,1,Apartments,1,1,,"Perambur, Chennai, Tamil Nadu",Chennai,,INDIA,,...,2,,,,Semi-Furnished,East,0,,,1700000
397,2,Apartments,2,2,,"Egmore, Chennai, Tamil Nadu",Chennai,,INDIA,,...,3,,,,Semi-Furnished,West,1,,,12500000
398,2,Houses & Villas,2,2,,"Chetpet, Chennai, Tamil Nadu",Chennai,,INDIA,,...,-,,,,New Launch,-,-,,,2200000
399,2,Houses & Villas,2,2,,"Ayanavaram, Chennai, Tamil Nadu",Chennai,,INDIA,,...,-,,,,New Launch,-,-,,,2200000

In [164]:
driver.quit()

In [165]:
result6 = pd.concat([result5,df6])
result6

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,9 days,,,,,,,207791688.0
1,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,98 days,,,,,,,201566000.0
2,2 BD,Condo,2 BD,2,,"630 North Franklin Street #803, Chicago, IL 60654",Chicago,,USA,,...,,,12 days,,,,,,,39482000.0
3,3 BD,Condo,3 BD,2.5,,"340 East Randolph Street #1705, Chicago, IL 60601",Chicago,,USA,,...,,,2007,,,,,,,165824400.0
4,3 BD,Condo,3 BD,3,,"1211 South Prairie Avenue #706, Chicago, IL 60605",Chicago,,USA,,...,,,28 days,,,,,,,103900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1,Farm Houses,1,1,,"Old Washermanpet, Chennai, Tamil Nadu",Chennai,,INDIA,,...,North,,,,Unfurnished,-,-,,,7500000
396,1,Apartments,1,1,,"Perambur, Chennai, Tamil Nadu",Chennai,,INDIA,,...,2,,,,Semi-Furnished,East,0,,,1700000
397,2,Apartments,2,2,,"Egmore, Chennai, Tamil Nadu",Chennai,,INDIA,,...,3,,,,Semi-Furnished,West,1,,,12500000
398,2,Houses & Villas,2,2,,"Chetpet, Chennai, Tamil Nadu",Chennai,,INDIA,,...,-,,,,New Launch,-,-,,,2200000
399,2,Houses & Villas,2,2,,"Ayanavaram, Chennai, Tamil Nadu",Chennai,,INDIA,,...,-,,,,New Launch,-,-,,,2200000

In [166]:
driver = webdriver.Chrome()

In [167]:
driver.get('https://www.olx.in/')

In [168]:
search = driver.find_element(By.XPATH,'//div[@class="_2AOcM"]/div[4]/a')
search.click()

In [169]:
search_city = driver.find_element(By.XPATH,'//div[@class="_275cI _2lVe2 _2JePH"]/div[3]/ul/li/ul/div/li[4]')
search_city.click()

In [170]:
filter_button = driver.find_element(By.XPATH,'//div[@class="_275cI _2lVe2 _2JePH"]/div[3]/ul/li/ul/li/ul/li[1]/a')
filter_button.click()

In [171]:
BHK_type8= []
Property_type8 = []
Beds8 = []
Bathroom8 = []
Balcony8 = []
Address8 = []
City8 = []
State_code8 = []
Country8 = []
Landmark8 = []
Carpet_Area8 = []
Status8 = []
Floor8 = []
Transaction_Type8 = []
Year_built8 = []
Price_per_sqaure_feet8 = []
Furnished_status8 = []
Facing8 = []
Car_Parking8 = []
Type_of_ownership8 = []
Booking_amount8 = []
Buy_total_price8 = []

In [172]:
URL =  []
start = 0
end = 4
for page in range(start,end):
    url = driver.find_elements(By.XPATH,'//li[@class="_1DNjI"]/a')
    for i in url:
        URL.append(i.get_attribute('href'))
next_button = driver.find_element(By.XPATH,'//div[@class="_38O09"]/button')
next_button.click()
time.sleep(3)

In [174]:
for i in URL:
    driver.get(i)
    time.sleep(2)
    try:
        bhk_type = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[2]/div/span[2]')
        BHK_type8.append(bhk_type.text)
    except NoSuchElementException:
        BHK_type8.append('-')

    try:
        p_type = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[1]/div/span[2]')
        Property_type8.append(p_type.text)
    except NoSuchElementException:
        Property_type8.append('-')
        
    try:
        bed = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[2]/div/span[2]')
        Beds8.append(bed.text.replace('\n',''))
    except NoSuchElementException:
        Beds8.append('-')

    try:
        bath = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[3]/div/span[2]')
        Bathroom8.append(bath.text.replace('\n',''))
    except NoSuchElementException:
        Bathroom8.append('-')

    try:
        add = driver.find_element(By.XPATH,'//div[@class="_3ipDN"]/div/span')
        Address8.append(add.text)
    except NoSuchElementException:
        Address8.append('-')

    try:
        c_area = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[8]/div/span[2]')
        Carpet_Area8.append(c_area.text.replace('\n',''))
    except NoSuchElementException:
        Carpet_Area8.append('-')

    try:
        parking = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[12]/div/span[2]')
        Car_Parking8.append(parking.text)
    except NoSuchElementException:
        Car_Parking8.append('-')

    try:
        total_price = driver.find_element(By.XPATH,'//section[@class="_8S0h4"]/span[1]')
        Buy_total_price8.append(total_price.text.replace('₹','').replace(',', ''))
    except NoSuchElementException:
        Buy_total_price8.append('-')

    try:
        floor = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[11]/div/span[2]')
        Floor8.append(floor.text)
    except NoSuchElementException:
        Floor8.append('-')

    try:
        furniture = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[4]/div/span[2]')
        Furnished_status8.append(furniture.text)
    except NoSuchElementException:
        Furnished_status8.append('-')

    try:
        facing = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[13]/div/span[2]')
        Facing8.append(facing.text)
    except NoSuchElementException:
        Facing8.append('-')

In [175]:
len(BHK_type8),len(Beds8),len(Bathroom8),len(Address8),len(Carpet_Area8),len(Car_Parking8),len(Buy_total_price8),len(Property_type8),len(Floor8),len(Furnished_status8),len(Facing8)

(160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160)

In [176]:
Year_built8 = ([''])*160
Price_per_sqaure_feet8 = ([''])*160
Balcony8 = ([''])*160
State_code8 = ([''])*160
Landmark8 = ([''])*160
Transaction_Type8 = ([''])*160
Country8 = (['INDIA'])*160
Type_of_ownership8 = ([''])*160
Booking_amount8 = ([''])*160
City8 = (['Bengaluru'])*160
Status8 = (['ACTIVE'])*160

In [177]:
len(BHK_type8),len(Property_type8),len(Beds8),len(Bathroom8),len(Balcony8),len(Address8),len(City8),len(State_code8),len(Country8),len(Landmark8),len(Carpet_Area8),len(Status8),len(Floor8),len(Transaction_Type8),len(Year_built8),len(Price_per_sqaure_feet8),len(Furnished_status8),len(Facing8),len(Car_Parking8),len(Type_of_ownership8),len(Booking_amount8),len(Buy_total_price8)

(160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160)

In [178]:
df7 = pd.DataFrame ({'BHK Type':BHK_type8, 'Propery Type':Property_type8, 'Number Of Beds':Beds8,'Number Of Bathroom':Bathroom8,
                    'Number Of Balcony':Balcony8,'Address':Address8,'City':City8,'State Code':State_code8,'Country':Country8,
                    'Landmark':Landmark8,'Carpet Area':Carpet_Area8,'Status':Status8,'Floor':Floor8,'Transaction Type':Transaction_Type8,
                    'Year Of Built':Year_built8,'Price Per Sqaure Feet':Price_per_sqaure_feet8,'Furnished Status':Furnished_status8,
                    'Facing':Facing8,'Car Parking':Car_Parking8,'Type Of Ownership':Type_of_ownership8,'Booking Amount':Booking_amount8,
                    'Buy Total Price':Buy_total_price8})
df7

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,3,Apartments,3,Unfurnished,,"Shankar Nagar, Bengaluru, Karnataka",Bengaluru,,INDIA,,...,East,,,,New Launch,-,Flintstones,,,9000000
1,3,Apartments,3,2,,"Salappa Layout VS Garden, Bengaluru, Karnataka",Bengaluru,,INDIA,,...,7,,,,Unfurnished,North,1,,,9999999
2,2,Houses & Villas,2,2,,"Cholurpalya, Bengaluru, Karnataka",Bengaluru,,INDIA,,...,3,,,,Furnished,North,1,,,13500000
3,2,Houses & Villas,2,2,,"Vidyapeeta Layout, Bengaluru, Karnataka",Bengaluru,,INDIA,,...,2,,,,Furnished,East,0,,,6000000
4,2,Apartments,2,2,,"Giri Nagar, Bengaluru, Karnataka",Bengaluru,,INDIA,,...,4,,,,Semi-Furnished,North,1,,,7500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,3,Apartments,3,2,,"Banashankari Stage 5, Bengaluru, Karnataka",Bengaluru,,INDIA,,...,1,,,,Unfurnished,East,1,,,13300000
156,4+,Houses & Villas,4+,4+,,"Pattegarhpalya, Bengaluru, Karnataka",Bengaluru,,INDIA,,...,North,,,,Furnished,-,1200 Sqft Building with 50000+ Rental income,,,16000000
157,3,Builder Floors,3,4+,,"Kamakshipalya, Bengaluru, Karnataka",Bengaluru,,INDIA,,...,3,,,,Furnished,South-East,0,,,7500000
158,2,Apartments,2,2,,"Agrahara Dasarahalli, Bengaluru, Karnataka",Bengaluru,,INDIA,,...,2,,,,Semi-Furnished,South-West,2,,,27000000
159,3,Houses & Villas,3,3,,"Banashankari Stage 2, Bengaluru, Karnataka",Bengaluru,,INDIA,,...,1,,,,Semi-Furnished,BDA BSK 2 ND STAGE 15x30,East,,,8000000

In [179]:
driver.quit()

In [180]:
result7 = pd.concat([result6,df7])
result7

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,9 days,,,,,,,207791688.0
1,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,98 days,,,,,,,201566000.0
2,2 BD,Condo,2 BD,2,,"630 North Franklin Street #803, Chicago, IL 60654",Chicago,,USA,,...,,,12 days,,,,,,,39482000.0
3,3 BD,Condo,3 BD,2.5,,"340 East Randolph Street #1705, Chicago, IL 60601",Chicago,,USA,,...,,,2007,,,,,,,165824400.0
4,3 BD,Condo,3 BD,3,,"1211 South Prairie Avenue #706, Chicago, IL 60605",Chicago,,USA,,...,,,28 days,,,,,,,103900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,3,Apartments,3,2,,"Banashankari Stage 5, Bengaluru, Karnataka",Bengaluru,,INDIA,,...,1,,,,Unfurnished,East,1,,,13300000
156,4+,Houses & Villas,4+,4+,,"Pattegarhpalya, Bengaluru, Karnataka",Bengaluru,,INDIA,,...,North,,,,Furnished,-,1200 Sqft Building with 50000+ Rental income,,,16000000
157,3,Builder Floors,3,4+,,"Kamakshipalya, Bengaluru, Karnataka",Bengaluru,,INDIA,,...,3,,,,Furnished,South-East,0,,,7500000
158,2,Apartments,2,2,,"Agrahara Dasarahalli, Bengaluru, Karnataka",Bengaluru,,INDIA,,...,2,,,,Semi-Furnished,South-West,2,,,27000000
159,3,Houses & Villas,3,3,,"Banashankari Stage 2, Bengaluru, Karnataka",Bengaluru,,INDIA,,...,1,,,,Semi-Furnished,BDA BSK 2 ND STAGE 15x30,East,,,8000000

In [181]:
driver = webdriver.Chrome()

In [182]:
driver.get('https://www.olx.in/')

In [183]:
search = driver.find_element(By.XPATH,'//div[@class="_2AOcM"]/div[4]/a')
search.click()

In [184]:
search_city = driver.find_element(By.XPATH,'//div[@class="_275cI _2lVe2 _2JePH"]/div[3]/ul/li/ul/div/li[8]')
search_city.click()

In [185]:
filter_button = driver.find_element(By.XPATH,'//div[@class="_275cI _2lVe2 _2JePH"]/div[3]/ul/li/ul/li/ul/li[1]/a')
filter_button.click()

In [186]:
BHK_type9= []
Property_type9 = []
Beds9 = []
Bathroom9 = []
Balcony9 = []
Address9 = []
City9 = []
State_code9 = []
Country9 = []
Landmark9 = []
Carpet_Area9 = []
Status9 = []
Floor9 = []
Transaction_Type9 = []
Year_built9 = []
Price_per_sqaure_feet9 = []
Furnished_status9 = []
Facing9 = []
Car_Parking9 = []
Type_of_ownership9 = []
Booking_amount9 = []
Buy_total_price9 = []

In [188]:
URL =  []
start = 0
end = 4
for page in range(start,end):
    url = driver.find_elements(By.XPATH,'//li[@class="_1DNjI"]/a')
    for i in url:
        URL.append(i.get_attribute('href'))
next_button = driver.find_element(By.XPATH,'//div[@class="_38O09"]/button')
next_button.click()
time.sleep(3)

In [190]:
for i in URL:
    driver.get(i)
    time.sleep(2)
    try:
        bhk_type = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[2]/div/span[2]')
        BHK_type9.append(bhk_type.text)
    except NoSuchElementException:
        BHK_type9.append('-')

    try:
        p_type = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[1]/div/span[2]')
        Property_type9.append(p_type.text)
    except NoSuchElementException:
        Property_type9.append('-')
        
    try:
        bed = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[2]/div/span[2]')
        Beds9.append(bed.text.replace('\n',''))
    except NoSuchElementException:
        Beds9.append('-')

    try:
        bath = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[3]/div/span[2]')
        Bathroom9.append(bath.text.replace('\n',''))
    except NoSuchElementException:
        Bathroom9.append('-')

    try:
        add = driver.find_element(By.XPATH,'//div[@class="_3ipDN"]/div/span')
        Address9.append(add.text)
    except NoSuchElementException:
        Address9.append('-')

    try:
        c_area = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[8]/div/span[2]')
        Carpet_Area9.append(c_area.text.replace('\n',''))
    except NoSuchElementException:
        Carpet_Area9.append('-')

    try:
        parking = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[12]/div/span[2]')
        Car_Parking9.append(parking.text)
    except NoSuchElementException:
        Car_Parking9.append('-')

    try:
        total_price = driver.find_element(By.XPATH,'//section[@class="_8S0h4"]/span[1]')
        Buy_total_price9.append(total_price.text.replace('₹','').replace(',', ''))
    except NoSuchElementException:
        Buy_total_price9.append('-')

    try:
        floor = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[11]/div/span[2]')
        Floor9.append(floor.text)
    except NoSuchElementException:
        Floor9.append('-')

    try:
        furniture = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[4]/div/span[2]')
        Furnished_status9.append(furniture.text)
    except NoSuchElementException:
        Furnished_status9.append('-')

    try:
        facing = driver.find_element(By.XPATH,'//div[@class="_3nSm3"]/div[13]/div/span[2]')
        Facing9.append(facing.text)
    except NoSuchElementException:
        Facing9.append('-')

In [191]:
len(BHK_type9),len(Beds9),len(Bathroom9),len(Address9),len(Carpet_Area9),len(Car_Parking9),len(Buy_total_price9),len(Property_type9),len(Floor9),len(Furnished_status9),len(Facing9)

(160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160)

In [192]:
Year_built9 = ([''])*160
Price_per_sqaure_feet9 = ([''])*160
Balcony9 = ([''])*160
State_code9 = ([''])*160
Landmark9 = ([''])*160
Transaction_Type9 = ([''])*160
Country9 = (['INDIA'])*160
Type_of_ownership9 = ([''])*160
Booking_amount9 = ([''])*160
City9 = (['Delhi'])*160
Status9 = (['ACTIVE'])*160

In [193]:
len(BHK_type9),len(Property_type9),len(Beds9),len(Bathroom9),len(Balcony9),len(Address9),len(City9),len(State_code9),len(Country9),len(Landmark9),len(Carpet_Area9),len(Status9),len(Floor9),len(Transaction_Type9),len(Year_built9),len(Price_per_sqaure_feet9),len(Furnished_status9),len(Facing9),len(Car_Parking9),len(Type_of_ownership9),len(Booking_amount9),len(Buy_total_price9)

(160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160,
 160)

In [194]:
df8 = pd.DataFrame ({'BHK Type':BHK_type9, 'Propery Type':Property_type9, 'Number Of Beds':Beds9,'Number Of Bathroom':Bathroom9,
                    'Number Of Balcony':Balcony9,'Address':Address9,'City':City9,'State Code':State_code9,'Country':Country9,
                    'Landmark':Landmark9,'Carpet Area':Carpet_Area9,'Status':Status9,'Floor':Floor9,'Transaction Type':Transaction_Type9,
                    'Year Of Built':Year_built9,'Price Per Sqaure Feet':Price_per_sqaure_feet9,'Furnished Status':Furnished_status9,
                    'Facing':Facing9,'Car Parking':Car_Parking9,'Type Of Ownership':Type_of_ownership9,'Booking Amount':Booking_amount9,
                    'Buy Total Price':Buy_total_price9})
df8

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,4,Apartments,4,2,,"Paschim Vihar, Delhi, Delhi",Delhi,,INDIA,,...,1,,,,Semi-Furnished,North-West,3,,,15000000
1,2,Apartments,2,1,,"Rohini Sector 4, Delhi, Delhi",Delhi,,INDIA,,...,3,,,,Unfurnished,North,0,,,2100000
2,3,Builder Floors,3,2,,"Ramesh Nagar, Delhi, Delhi",Delhi,,INDIA,,...,2,,,,Semi-Furnished,North-East,1,,,17500000
3,4+,Apartments,4+,4+,,"Asha Park, Delhi, Delhi",Delhi,,INDIA,,...,3+,,,,Unfurnished,-,-,,,25000000
4,3,Houses & Villas,3,3,,"Sultanpuri, Delhi, Delhi",Delhi,,INDIA,,...,0,,,,Unfurnished,-,-,,,2500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,2,Builder Floors,2,2,,"Ramesh Nagar, Delhi, Delhi",Delhi,,INDIA,,...,2,,,,Semi-Furnished,North-East,1,,,11000000
156,3,Builder Floors,3,2,,"Vikaspuri, Delhi, Delhi",Delhi,,INDIA,,...,1,,,,Semi-Furnished,-,Shrishty homes,,,4300000
157,2,Builder Floors,2,2,,"Ramesh Nagar, Delhi, Delhi",Delhi,,INDIA,,...,3,,,,Semi-Furnished,North-East,1,,,11000000
158,4,Houses & Villas,4,3,,"Raghubir Nagar, Delhi, Delhi",Delhi,,INDIA,,...,2,,,,Unfurnished,-,Jad se makan,,,4800000
159,2,Builder Floors,2,2,,"Rajouri Garden, Delhi, Delhi",Delhi,,INDIA,,...,4,,,,Semi-Furnished,South-West,0,,,7000000

In [195]:
result8 = pd.concat([result7,df8])
result8

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Floor,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price
0,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,9 days,,,,,,,207791688.0
1,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,,98 days,,,,,,,201566000.0
2,2 BD,Condo,2 BD,2,,"630 North Franklin Street #803, Chicago, IL 60654",Chicago,,USA,,...,,,12 days,,,,,,,39482000.0
3,3 BD,Condo,3 BD,2.5,,"340 East Randolph Street #1705, Chicago, IL 60601",Chicago,,USA,,...,,,2007,,,,,,,165824400.0
4,3 BD,Condo,3 BD,3,,"1211 South Prairie Avenue #706, Chicago, IL 60605",Chicago,,USA,,...,,,28 days,,,,,,,103900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,2,Builder Floors,2,2,,"Ramesh Nagar, Delhi, Delhi",Delhi,,INDIA,,...,2,,,,Semi-Furnished,North-East,1,,,11000000
156,3,Builder Floors,3,2,,"Vikaspuri, Delhi, Delhi",Delhi,,INDIA,,...,1,,,,Semi-Furnished,-,Shrishty homes,,,4300000
157,2,Builder Floors,2,2,,"Ramesh Nagar, Delhi, Delhi",Delhi,,INDIA,,...,3,,,,Semi-Furnished,North-East,1,,,11000000
158,4,Houses & Villas,4,3,,"Raghubir Nagar, Delhi, Delhi",Delhi,,INDIA,,...,2,,,,Unfurnished,-,Jad se makan,,,4800000
159,2,Builder Floors,2,2,,"Rajouri Garden, Delhi, Delhi",Delhi,,INDIA,,...,4,,,,Semi-Furnished,South-West,0,,,7000000

In [196]:
driver.quit()

In [205]:
import pandas as pd
import numpy as np
import math

In [206]:
home.columns

Index(['BHK Type', 'Propery Type', 'Number Of Beds', 'Number Of Bathroom',
       'Number Of Balcony', 'Address', 'City', 'State Code', 'Country',
       'Landmark', 'Carpet Area', 'Status', 'Floor', 'Transaction Type',
       'Year Of Built', 'Price Per Sqaure Feet', 'Furnished Status', 'Facing',
       'Car Parking', 'Type Of Ownership', 'Booking Amount', 'Buy Total Price',
       'Rounded'],
      dtype='object')

In [212]:
home = result8
home['Buy Total Price'] = home['Buy Total Price'].round()
home

,BHK Type,Propery Type,Number Of Beds,Number Of Bathroom,Number Of Balcony,Address,City,State Code,Country,Landmark,...,Transaction Type,Year Of Built,Price Per Sqaure Feet,Furnished Status,Facing,Car Parking,Type Of Ownership,Booking Amount,Buy Total Price,Rounded
0,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,9 days,,,,,,,207791688.0,207791688.0
1,4 BD,Condo,4 BD,3.5,,"305 South Racine Avenue #PHD, Chicago, IL 60607",Chicago,,USA,,...,,98 days,,,,,,,201566000.0,201566000.0
2,2 BD,Condo,2 BD,2,,"630 North Franklin Street #803, Chicago, IL 60654",Chicago,,USA,,...,,12 days,,,,,,,39482000.0,39482000.0
3,3 BD,Condo,3 BD,2.5,,"340 East Randolph Street #1705, Chicago, IL 60601",Chicago,,USA,,...,,2007,,,,,,,165824400.0,165824400.0
4,3 BD,Condo,3 BD,3,,"1211 South Prairie Avenue #706, Chicago, IL 60605",Chicago,,USA,,...,,28 days,,,,,,,103900000.0,103900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,2,Builder Floors,2,2,,"Ramesh Nagar, Delhi, Delhi",Delhi,,INDIA,,...,,,,Semi-Furnished,North-East,1,,,11000000,11000000
156,3,Builder Floors,3,2,,"Vikaspuri, Delhi, Delhi",Delhi,,INDIA,,...,,,,Semi-Furnished,-,Shrishty homes,,,4300000,4300000
157,2,Builder Floors,2,2,,"Ramesh Nagar, Delhi, Delhi",Delhi,,INDIA,,...,,,,Semi-Furnished,North-East,1,,,11000000,11000000
158,4,Houses & Villas,4,3,,"Raghubir Nagar, Delhi, Delhi",Delhi,,INDIA,,...,,,,Unfurnished,-,Jad se makan,,,4800000,4800000
159,2,Builder Floors,2,2,,"Rajouri Garden, Delhi, Delhi",Delhi,,INDIA,,...,,,,Semi-Furnished,South-West,0,,,7000000,7000000

In [215]:
home.to_csv('BuyHome.csv',index = False)